.my-order-details {
  .my-order-single-content-wrap {
    // min-width: 970px;
    // padding: 20px 15px;
  }

  .table-wrp {
    margin: 20px 0;
    padding: 0;

    h3 {
      color: #383838;
      display: block;
      line-height: 1.2;
      font-weight: 700;
    }

    .my-order-single-sidebar {
      float: right;
      width: 30%;
      padding-left: 30px;
    }

    .my-order-single-title {
      font-size: 15px;
      text-transform: uppercase;
      padding-top: 20px;
      padding-bottom: 16px;
      border-bottom: 1px solid #e1e1e1;
      color: #31708f;
      margin-bottom: 10px;
    }

    .my-order-single-sub-title {
      font-size: 14px;
      font-weight: 600;
      padding-top: 40px;
      border-bottom: 1px solid #e1e1e1;
      padding-bottom: 15px;
      margin-bottom: 20px;
    }

    .my-order-single-content {
      overflow: hidden;

      .my-order-single-col-last {
        margin-top: 15px;
      }
    }

    .my-order-single-field {
      color: #545454;
      margin-bottom: 10px;

      .my-order-head {
        font-weight: 600;
        float: left;
        margin-right: 10px;
      }

      .my-order-tail {
        display: block;
        overflow: hidden;
      }

      a {
        color: #31708f;
      }

      &.my-order-additional-note {
        .my-order-head {
          float: none;
          margin-bottom: 7px;
          display: block;
        }
      }
    }

    .my-order-single-traveller-info {
      margin-top: 15px;
      margin-bottom: 35px;
    }

    .my-order-single-price-breakdown {
      margin-top: 15px;
      margin-bottom: 30px;

      .my-order-price-breakdown-summary {
        float: right;
        min-width: 350px;
      }
    }

    .my-order-price-breakdown {
      color: #515151;

      .my-order-price-breakdown-base-price-wrap {
        margin-bottom: 20px;
        padding-bottom: 8px;
        border-bottom: 1px solid #e1e1e1;
      }

      .my-order-price-breakdown-base-price {
        margin-bottom: 12px;
      }

      .my-order-head {
        font-weight: 600;
        margin-right: 13px;
      }

      .my-order-tail {
        .my-order-price,
        &.my-order-right {
          float: right;
        }
      }

      .my-order-price-breakdown-additional-service {
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e1e1e1;
      }

      .my-order-price-breakdown-additional-service-title {
        font-size: 16px;
        padding-top: 5px;
        margin-bottom: 16px;
      }

      .my-order-price-breakdown-additional-service-item {
        margin-bottom: 10px;

        .my-order-head {
          font-weight: 400;
        }
      }
    }

    .my-order-price-breakdown-sub-total,
    .my-order-price-breakdown-tax-rate,
    .my-order-price-breakdown-tax-due,
    .my-order-price-breakdown-coupon-code,
    .my-order-price-breakdown-coupon-amount {
      margin-bottom: 12px;
    }

    .my-order-price-breakdown-coupon-code {
      .my-order-coupon-text {
        float: right;
      }
    }

    .my-order-single-total-price {
      padding-top: 15px;
      padding-bottom: 3px;
      margin-top: 20px;
      margin-bottom: 15px;
      border-top: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1;

      .my-order-single-field {
        color: #545454;
        float: right;
        min-width: 350px;
      }

      .my-order-tail {
        float: right;
        font-weight: 600;
      }
    }

    // table {
    //     display: none;
    // }
  }
}

.my-order {
  .order-wrapper {
    > h3 {
      display: block;
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 0;
      color: #3f3f3f;

      a {
        float: right;
        font-size: 13px;
        margin-left: 15px;
        text-transform: capitalize;
      }
    }
  }

  h3 {
    display: block;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #3f3f3f;
  }

  .table-wrp {
    background-color: #fff;
    margin: 35px 0;
    overflow: auto;
    padding: 25px 15px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  }

  table {
    &.order-list-table,
    &.my-order-payment-details {
      font-size: 13px;
      min-width: 800px;
      border: 0;
      margin-bottom: 0;
      border-collapse: separate;
      border-spacing: 0;

      thead {
        border: 0;

        @media screen and (max-width: 767.99px) {
          clip: unset;
          height: auto;
          margin: 0;
          overflow: unset;
          padding: unset;
          position: unset;
          width: auto;
        }
      }

      th {
        color: #545454;
        text-align: left;
        border-width: 0px 0px 1px;
        border-style: solid;
        border-color: #e8e8e8;
        padding: 4px 0px 16px;
        background: transparent;

        &:nth-child(1) {
          width: 10%;
        }

        &:nth-child(2) {
          width: 17%;
        }

        &:nth-child(3) {
          width: 38%;
        }

        &:nth-child(4) {
          width: 15%;
        }

        &:nth-child(5) {
          width: 10%;
        }

        &:nth-child(6) {
          width: 10%;
        }
      }

      td {
        color: #545454;
        font-size: 13px;
        font-weight: normal;
        padding: 0px 0px 18px !important;
        border: 0px;
        font-weight: normal;
        text-align: left;
        text-transform: capitalize;

        p {
          font-size: 13px;
          line-height: 1.5;
          margin-bottom: 0;
        }

        .name-title {
          a {
            color: #31708f;
            display: inline-block;
          }
        }

        .contact-title {
          a {
            background-color: #31708f;
            color: #fff;
            padding: 5px 15px;
            display: inline-block;
            border-radius: 3px;

            &:hover {
              background-color: #df1814;
            }
          }
        }

        @media screen and (max-width: 767.99px) {
          display: table-cell;
        }

        &::before {
          @media screen and (max-width: 767.99px) {
            content: "";
            display: none;
          }
        }
      }

      .tbody-content {
        &:first-of-type {
          td {
            padding-top: 28px !important;
          }
        }

        &:nth-of-type(2n) {
          td {
            background-color: transparent;
          }
        }

        &:last-of-type {
          td {
            padding-bottom: 6px !important;
          }
        }
      }
    }

    &.my-order-payment-details {
      min-width: 100%;
      margin-top: 20px;

      @media screen and (max-width: 768px) {
        padding: 0 15px;
      }

      tr {
        td {
          padding-top: 20px !important;
          padding-bottom: 0 !important;
        }
      }
    }
  }

  .book-more,
  .no-order {
    text-align: right;

    a {
      background-color: #31708f;
      color: #fff;
      padding: 10px 20px;
      display: inline-block;
      border-radius: 3px;

      &:hover {
        background-color: #df1814;
      }
    }
  }

  input[type="radio"] {
    &:checked,
    &:not(:checked) {
      position: absolute;
      left: -9999px;

      + label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #545454;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 18px;
          height: 18px;
          border: 1px solid #ddd;
          border-radius: 100%;
          background: #fff;
        }

        &::after {
          content: "";
          width: 10px;
          height: 10px;
          background: #f83531;
          position: absolute;
          top: 4px;
          left: 4px;
          border-radius: 100%;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
        }
      }
    }

    &:not(:checked) {
      + label {
        &::after {
          opacity: 0;
          -webkit-transform: scale(0);
          transform: scale(0);
        }
      }
    }

    &:checked {
      + label {
        &::after {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
    }
  }
}