.checkout-page-wrap {
	display: grid;
	grid-template-columns: 1fr 42%;
	grid-gap: 35px;
	margin-top: 50px;
	.number-accordion {
		.checkout-accordion {
			h4 {
				margin: 0;
				padding: 0;
				a {
					display: block;
					padding: 10px 40px 10px 15px;
					color: inherit;
				}
			}
		}
	}
	label.radio-checkbox-label {
		input {
			margin-right: 0.5em;
		}
	}
	&.wti_no_mini_cart {
		grid-template-columns: 100%;
	}
	> div {
		width: 100%;
	}
	@media (max-width: 1199px) {
		grid-template-columns: 1fr 42%;
		grid-gap: 30px;
	}
	@media (max-width: 991px) {
		grid-template-columns: 100%;
	}
	.wp-travel-minicart {
		@media (min-width: 992px) {
			order: 2;
		}
	}
	.wp-travel-checkout-section {
		@media (min-width: 992px) {
			order: 1;
		}

		.panel-group {
			.payment-content {
				padding: 0 15px;
			}
		}
		.checkout-left {
			// border-radius: 5px;
			// border-color: #ccc;
			.ws-theme-timeline-block {
				.panel-body {
					padding: 0;
					.payment-content {
						.wp-travel-form-field {
							#wp-travel-book-now {
								margin: 0;
								float: right;
								cursor: pointer;
							}
						}
					}
				}
				.panel-collapse {
					border: 0;
					// padding: 0 20px;
				}
				.panel.panel-default {
					.panel-collapse {
						border: 1px solid #d9d9d9;
						border-top: none;
					}
				}
			}
		}
	}
}

.sticky-sidebar {
    position: sticky;
    top: 46px;
}

.checkout-page-wrap,
.wp-travel-enquiries-form {
	@media (min-width: 768px) {
		.wp-travel-minicart {
			float: right;
			position: static;

			.is_stuck {
				& ~ div {
					display: none;
				}
			}
		}
	}

	.checkout-block {
		// background-color: #fff;
		// padding: 20px 15px;
		// border: 1px solid #eee;
		&.checkout-right {
			background-color: transparent;
			padding: 0;
			border: none;
		}

		h3 {
			font-size: 18px;
			font-weight: 700;
			line-height: 24px;
			margin-top: 0;
			text-align: left;

			small {
				font-size: 70%;
				color: #999;
				font-weight: 500;
			}
		}

		@media (max-width: 767.99px) {
			margin-bottom: 30px;
		}
	}

	.checkout-right {
	}

	h6.heading {
		margin-bottom: 5px;
		margin-top: 10px;
	}

	.number-accordion {
		position: relative;
		margin-bottom: 0;

		h4 {
			position: relative;
			margin-top: 0;
			margin-bottom: 15px;
			font-size: 16px;
		}

		.panel-heading {
			font-size: 16px;
		}

		.panel-body {
			.btn-block {
				margin-right: 0;
				float: right;
				padding: 5px 10px;
				font-size: 12px;
				letter-spacing: 2px;
				text-transform: uppercase;
				border: 1px solid #333;
			}

			.center-div {
				float: none;
				display: block;
				margin: 0 auto;
			}
		}
	}

	.travel-info-wrap {
		h6 {
			margin-left: 33.333%;
			margin-bottom: 20px;

			@include mob {
				margin-left: 25px;
			}
		}
	}

	.form-wrapper {
		select {
			width: 100%;
		}
	}

	.wp-travel-trip-details {
		// padding-bottom: 30px;
		ul {
			list-style: none;
			li {
				color: red;
			}
		}
	}
	form.wp-travel-booking {
		> .ws-theme-timeline-block {
			// margin: 0 0 20px;
			// border-bottom: 1px solid #e3e3e3;
			// padding-bottom: 15px;
			margin: 0;
			border-bottom: 0;
			padding-bottom: 0;
			#number-accordion3 {
				.panel-body {
					.payment-content {
						.wp-travel-form-field {
							ul {
								list-style: none;
								li {
									color: red;
								}
							}
						}
					}
				}
			}
			&:nth-child(2) {
				// border-top: 1px solid #cbcbcb;
				// padding: 25px 0 0;
			}
		}
	}

	.payment-traveller {
		position: relative;
	}

	.form-horizontal {
		display: inline-block;
		width: 100%;

		.form-group {
			margin-right: -15px;
			margin-left: -15px;
		}

		&.f-partial-payment {
			display: block;
		}

		.radio-checkbox-label {
			position: relative;
			margin-bottom: 15px;
			display: block;
		}
	}

	.wp-travel-form-field {
		margin: 10px 0;
		display: inline-block;
		width: 100%;
		&.wp-travel-radio-group {
			display: flex;
			justify-content: start;
		}

		label {
			font-weight: 600;
		}

		input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]),
		select,
		textarea {
			width: 100%;
			margin-bottom: 15px;
		}

		.parsley-errors-list {
			width: 100%;
			margin: -15px 0 0;
		}

		&.wp-travel-radio-group {
			> label {
				&:first-of-type {
					display: inline-block;
					margin-bottom: 10px;
				}
			}

			.radio-checkbox-label {
				display: inline-block;
				float: none;
				margin-bottom: 0 !important;
			}

			> div:last-of-type {
				&::before {
					content: "";
					display: block;
					clear: both;
				}
			}
		}

		@media screen and (min-width: 768px) {
			label,
			.wp-travel-text-info {
				width: 33.3333333333%;
				float: left;
				min-height: 1px;
				position: relative;
				padding: 0 15px 0 0;
				font-size: 13.8px;

				&.radio-checkbox-label {
					margin-bottom: 15px !important;
					width: 75%;
				}
			}

			input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]),
			select,
			textarea,
			.parsley-errors-list {
				width: 66.6666666667%;
			}

			.wp-travel-radio {
				width: 66.6666666667%;
				float: right;
			}

			.parsley-errors-list {
				float: right;
				margin: -15px 0 0;
			}
		}

		@media screen and (min-width: 992px) {
			label:not(.radio-checkbox-label),
			.wp-travel-text-info {
				width: 25%;
			}

			input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]),
			select,
			textarea,
			.parsley-errors-list {
				// width: 75%;
				width: 100%;
			}

			.wp-travel-radio {
				// width: 75%;
				width: 20%;
				margin-bottom: 12px;
				display: flex;
				align-items: center;
				input[type="radio"] {
					width: 20px;
					height: 20px;
					margin-right: 5px;
				}
			}
		}
	}

	.checkbox-block {
		padding: 0 15px;
	}
}

#shopping-cart {
	// border-radius: 5px;
	border: 1px solid #f0f0f0;
	// overflow: hidden;
	// position: sticky;
	// top: 20px;
	// background-color: #fff;
	.wp-travel-cart-loader {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#fff, 0.8);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 22222222222;
		svg {
			width: 30px;
			height: 30px;
			animation: loader 1s linear infinite;
			path {
				fill: #444;
			}
		}
	}
	.btn {
		outline: none;
		padding: 0.75em 1em;
		font-size: 16px;
		font-weight: 500;
		cursor: pointer;
		text-align: center;
		&:hover {
			text-decoration: none;
		}
		&.btn-dark {
			background-color: #444;
			color: #fff;
			border-color: #444;
			&:hover {
				background-color: rgba(#444, 0.7);
				text-decoration: none;
			}
		}
	}
	button,
	a {
		&:disabled {
			opacity: 0.5;
			pointer-events: none;
		}
	}
	.cart-summary {
		position: relative;
		.cart-header {
			padding: 1em 1em 0.5em;
			.title {
				font-size: 18px;
				font-weight: bold;
				color: #444;
				display: flex;
				margin: 0;
				svg {
					width: 20px;
					height: 20px;
					margin-right: 10px;
					path {
						fill: #444;
					}
				}
			}
			.subtitle {
				color: #999;
				font-weight: 500;
				font-size: 14px;
				margin: 0;
				strong {
					display: inline-block;
					border-radius: 3px;
					background-color: #444;
					color: #fff;
					padding: 0 5px;
					line-height: 1;
				}
			}
		}
		.list-group {
			list-style: none;
			padding: 0 1em;
			margin: 1em 0 0 0;
			li {
				position: relative;
				// margin: 20px 0;
				// background: #f1f1f1;
				padding: 15px;
				border-radius: 5px;
				&:not(:first-child) {
					border-top: 1px solid #f4f4f4;
				}
				.del-btn {
					// font-size: 12px;
					font-size: 15px;
					font-weight: 900;
					position: absolute;
					top: -5px;
					left: -10px;
					padding: 0;
					border-radius: 50%;
					background: #f93b3b;
					color: #fff;
					width: 20px;
					height: 20px;
					text-align: center;
					border: 0;
					line-height: unset;
					cursor: pointer;
					z-index: 1;
					display: flex;
					align-items: center;
					justify-content: center;
					&:hover {
						background: #444;
					}
				}
				.edit-trip {
					position: absolute;
					right: 0px;
					top: -38px;
					a {
						font-size: 0;
						padding: 7px;
						background: #e8e8e8;
						border-radius: 50%;
					}
				}
				> div {
					display: flex;
					margin-top: 27px;
					align-items: center;
					justify-content: center;
					@media (max-width: 558px) {
						flex-direction: column;
					}

					.content-left {
						flex: 0 0 22%;
						margin-right: 20px;
						.img-wrapper {
							border-radius: 5px;
							max-width: 133px;
							margin: 0 auto;
							@media (max-width: 558px) {
								margin-bottom: 30px;
							}
						}
						img {
							border: 1px solid #efefef;
							height: 100% !important;
							border-radius: 5px;
						}
					}
					.content-right {
						flex: 1;
						h5 {
							margin: 0;
							line-height: 1;
							a {
								text-decoration: none;
								color: #444;
								font-weight: 600;
								font-size: 14px;
							}
						}
						.meta-content {
							font-size: 12px;
							margin-top: 5px;
							span {
								display: inline-block;
								border-radius: 4px;
								margin-right: 10px;
								color: #777;
							}
						}
					}

					.trip-content {
						flex: 1;
						.trip-item-name-price {
							display: flex;
							align-items: center;
							justify-content: space-between;
							.trip-name {
								display: inline-block;
								margin-right: 10px;
								// line-height: 1;
								h5 {
									a {
										// display: inline;
										// text-decoration: none;
										// color: #444;
										// font-weight: 600;
										// font-size: 15px;
									}
								}
								.group-discount-button {
									display: inline-flex;
									position: relative;
									margin-left: 5px;
									cursor: pointer;
									svg {
										fill: red;
										width: 17px;
										height: 17px;
									}
									.discount-price {
										position: absolute;
										bottom: 100%;
										left: 50%;
										transform: translateX(-50%);
										padding: 5px;
										background-color: red;
										color: #fff;
										border-radius: 4px;
										font-size: 14px;
										white-space: nowrap;
										margin-bottom: 5px;
										display: none;

										&::before {
											content: "";
											border-top: 5px solid red;
											border-left: 5px solid transparent;
											border-right: 5px solid transparent;
											position: absolute;
											top: 100%;
											left: 50%;
											transform: translateX(-50%);
										}
									}
									&:hover {
										.discount-price {
											display: block;
										}
									}
									&.no-discount {
										cursor: auto;
										svg {
											opacity: 0.3;
										}
										&:hover {
											.discount-price {
												display: none;
											}
										}
									}
								}
							}
							.trip-price {
								font-size: 20px;
								line-height: 22px;
								text-align: right;
								display: inline-flex;
								flex-direction: column;
								span {
								}
								.strikethrough {
									font-size: 14px;
									line-height: 14px;
								}
								del {
									margin-right: 0;
								}
							}
						}
						.trip__partial-payment_detail {
							display: flex;
							align-items: center;
							margin: 5px 0;
							justify-content: space-between;
							border-top: 1px solid #e0e0e0;
							border-bottom: 1px solid #e0e0e0;
							h5 {
								font-size: 14px;
								color: #777;
							}
							.partial-payment-info {
								display: flex;
								align-items: center;
								padding: 5px 0;
							}
							svg {
								fill: #000;
								width: 15px;
								height: 15px;
								margin-left: 5px;
								cursor: pointer;
							}
							span {
								font-size: 14px;
								font-weight: 600;
								padding: 5px 0;
							}
						}
						.trip-meta-content {
							display: flex;
							align-items: center;
							justify-content: space-between;
							padding-top: 5px;
							span {
								color: #777;
								font-size: 12px;
							}
						}
					}

					.price {
						flex: 0 0 20%;
						text-align: right;
						display: flex;
						flex-direction: column;
						align-items: flex-end;
						span {
							font-weight: 600;
						}
					}
					.edit {
						display: inline-flex;
						align-items: center;
						svg {
							width: 13px;
							height: 13px;
							margin-right: 0.25em;
							fill: #fff;
							path {
							}
						}
					}
				}
				.update-fields-collapse {
					margin-top: 1em;
					display: none;
					background: none;
					position: relative;
					form {
						width: 100%;
					}
					.wp-travel-form-group {
						display: flex;
						align-items: center;
						justify-content: space-between;
						border-bottom: 1px solid #eee;
						padding-bottom: 1em;
						margin-top: 1em;
						> div {
							display: flex;
							align-items: center;
							// @media(max-width: 575px){
							//     flex: auto;
							// }
							> .input-group {
								margin-right: 10px;
								display: flex;
								align-items: center;
							}
						}
						label {
							font-size: 14px;
							@media (min-width: 576px) {
								margin-bottom: 0;
							}
						}
						.input-group-btn {
							display: flex;
							&:first-child {
								.btn {
									border-radius: 0;
									border-top-left-radius: 4px;
									border-bottom-left-radius: 4px;
								}
							}
							&:last-child {
								.btn {
									border-radius: 0;
									border-top-right-radius: 4px;
									border-bottom-right-radius: 4px;
								}
							}
							.btn {
								padding: 0.45em 0.25em;
								width: 20px;
								height: 30px;
								line-height: 6px;
								border: 0;
								border-radius: 0;
								margin: 0;
							}
						}
						.qty {
							width: 40px;
							text-align: center;
							border-radius: 0;
							border-color: rgba(#000, 0.1);
							background: none;
							font-size: 14px;
							padding: 0.5em;
							height: 30px;
							-moz-appearance: textfield;
							&::-webkit-inner-spin-button,
							&::-webkit-outer-spin-button {
								-webkit-appearance: none;
							}
						}
						.prices {
							font-size: 14px;
							width: 130px;
							text-align: right;
							strong {
								margin-left: 0.75em;
							}
						}
					}
					h4 {
						margin-bottom: 1em;
					}
					.trip-submit {
						text-align: right;
						margin-top: 1em;
						.btn {
							font-size: 12px;
							margin: 0;
						}
					}
				}
			}
		}
		.extra-fields {
			list-style: none;
			padding: 0 1em;
			margin: 0;
			li {
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-top: 1px solid #eee;
				padding: 1em 0;
				label {
					margin: 0;
				}
				&.selected-payable-amount {
					// color: #3399ff;
					.price,
					label {
						font-size: 20px;
					}
				}
			}
		}
		.cart-summary-bottom {
			border-top: 1px solid #efefef;
			background-color: #fff;
			padding: 1em;
			.flex-wrapper {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
				@media (max-width: 575px) {
					flex-direction: column-reverse;
				}
				.update-cart-form {
					margin-bottom: 1em;
					width: 100%;
				}
				.price-calculate {
					margin: 0;
					margin-bottom: 1em;
				}
			}
			p {
				font-size: 14px;
				line-height: 18px;
				color: #777;
			}
			label {
				margin-top: 1em;
				display: flex;
				align-items: flex-start;
				input {
					transform: translateY(3px);
					margin-right: 0.5em;
					margin-top: 0;
				}
				p {
					margin: 0;
					color: #444;
				}
			}
			.checkout-btn {
				display: block;
				margin-top: 1em;
				border-radius: 4px;
			}
			.update-cart-form {
				.field-inline {
					display: flex;
					position: relative;
					input {
						flex: 1;
						margin-right: 0.5em;
						max-width: 100%;
					}
					.btn {
						font-size: 12px;
						margin: 0;
					}
					.error {
						position: absolute;
						top: 100%;
						left: 0;
						color: red;
						display: flex;
						align-items: center;
						margin-top: 0.25em;
						svg {
							width: 15px;
							height: 15px;
							margin-right: 0.5em;
							path {
								fill: red;
							}
						}
					}
				}
			}
			.price-calculate {
				.total-price {
					text-align: center;
					@media (max-width: 575px) {
						margin-top: 0;
					}
					p {
						font-size: 14px;
						margin: 0;
						strong {
							font-size: 18px;
						}
					}
				}
				.price-description {
					text-align: center;
				}
			}
		}
		.checkout-button {
			text-align: center;
			margin-top: 1em;
			.btn {
				width: 100%;
			}
		}
	}
}
.wp-travel-add-to-cart-form {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.wp-travel-payment-field {
	.wp-travel-text-info {
		width: 100% !important;
	}
}

#wp-travel-payment-bank-detail {
	width: 100%;
	display: block;
	overflow: auto;
	table {
		@media (max-width: 767px) {
			font-size: 12px;
		}
	}
}

/* partial payment  table*/
.view-partial-info {
	text-align: left;
	color: #3e8105;
	text-decoration: underline;
}
.view-partial-info-wrapper {
	position: relative;
	z-index: 300;
}
.partial-payment-info {
	position: absolute;
	top: 180%;
	left: 0;
	width: auto;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease-in-out;
}
.partial-payment-info:before {
	content: "";
	border-bottom: 11px solid #ececec;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	position: absolute;
	top: -10px;
	left: 16px;
}
.view-partial-info-wrapper:hover .partial-payment-info,
.view-partial-info-wrapper:focus-within .partial-payment-info {
	opacity: 1;
	position: absolute;
	visibility: visible;
	top: 120%;
	z-index: 3;
	transition: all 0.4s ease-in-out;
}
.partial-payment-info th,
.partial-payment-info td {
	text-align: center;
	padding: 10px !important;
	font-size: 13px;
}
.partial-payment-info tr.trip-total {
	background: #457120;
	color: #fff;
}
.partial-payment-info tr.trip-total th {
	font-weight: 500;
	font-size: 14px;
}
.partial-payment-info tr.separator {
	height: 10px;
}
.partial-payment-info tr.trip-total th:first-child {
	border-right: 10px solid #ececec;
}
