.wp-travel-trips-has-sidebar {


	@include sidr-view {
		width: 100%;
		padding-right: 0;

		& + .wp-travel-widget-area {
			width: 100%;
			padding-left: 0;
		}
	}

	.wp-travel-default-article {
		.wp-travel-article-image-wrap {
			margin-right: 0;
		}
	}

	.wp-travel-itinerary-items {
		.site-main {
			.status-publish {
				.entry-content {
					display: flex;
					flex-wrap: wrap;
				}
			}
		}
	}
}

.post-type-archive-itineraries {
	.wp-travel-trips-has-sidebar {
		& + .wp-travel-widget-area {
			@include sidr-view {
				padding: 0;
				float: left;
			}

			@include above-sidr-view {
				padding-right: 0;
			}
		}
	}
}

// For Blocks, css for widget area list and grid view
.widget {
	.wp-travel-itinerary-items {
		.wp-travel-itinerary-list {
			@media (min-width: 651px) and (max-width: 992px) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}
