// Define variables.
$alto: #ddd;

// Css for the tabs.
#poststuff {
	#wp-travel-itinerary-detail {
		.inside {
			margin-top: 0;
		}
	}
}

.map-wrap {
	#search-input {
		left: 243px;
		padding: 10px 11px 10px 13px;
		height: 40px;
		max-width: 100%;
		width: 50%;
	}

	.map-inside-map {
		min-width: 100%;
		min-height: 400px;
	}
}

// Taxonomy Wrap
.itineraries-tax-wrap {
	border: 1px solid #f1f1f1;
	margin: 0 0 40px 0;
	padding: 10px 10px 10px 20px;
}

#side-sortables .add-menu-item-tabs a,
.category-tabs a,
.wp-tab-bar a {
	color: #333;
	font-weight: 600;
}

#itinerary_types-adder a,
.tax-edit a {
	color: #333;
	font-weight: 600;
}

.entry-content .wp-travel-trip-include ul,
.entry-content .wp-travel-trip-exclude ul {
	margin-left: 20px;
}

.availabily-list {
	.availabily-heading {
		.group-size {
			text-align: center;
		}
	}
}

.availabily-content {
	.group-size-min-max {
		text-align: center;
	}
}

//travel wrapper main
.widget-area,
.footer-inner-wrapper {
	.wp-travel-itinerary-items {
		ul.wp-travel-itinerary-list {
			li {
				width: 100%;
			}
		}
	}

	.wp-travel-default-article {
		padding: 0;

		.wp-travel-article-image-wrap {
			width: 100%;
		}

		.wp-travel-entry-content-wrapper {
			width: 100%;
			display: block;

			.description-left,
			.description-right {
				width: 100%;
			}

			.description-right {
				text-align: left;
				border-left: none;
				padding: 0 10px 15px;

				.wp-travel-average-review {
					display: none;
				}
			}
		}
	}

	@include sidr-view-and-mob {
		&.wp-travel-widget-area {
			.wp-travel-default-article {
				padding: 15px;

				.wp-travel-article-image-wrap {
					width: 28%;
				}

				.wp-travel-entry-content-wrapper {
					width: 69%;

					.description-left {
						width: 70%;
					}

					.description-right {
						width: 30%;
						float: left;
						text-align: center;
						border-left: 1px solid #eee;
					}
				}
			}
		}
	}
}

#footer {
	.footer-inner-wrapper {
		.wp-travel-default-article {
			border-color: #505050;

			.wp-travel-explore a {
				border: 1px solid #505050;
			}
		}
	}
}

//date and pice tabs multiple booking section styling
ul.availabily-list {
	list-style: none;
	padding: 0 !important;
	margin: 0 !important;

	li {
		&.availabily-heading {
			display: flex;
			flex-wrap: wrap;

			> div {
				width: 14.26%;
			}
		}
	}

	li > form {
		group-size {
			text-align: center;
		}

		&.opened {
			box-shadow: 2px 2px 10px #e4e4e4;
			border: 1px solid #e3e3e3;
			background: #fcfcfc;
		}

		border-bottom: 1px solid #e3e3e3;
		line-height: 1.2;
		// padding: 10px 0 20px;
		margin: 10px 0;
		position: relative;
		padding: 20px 0;

		&:first-child {
			div {
				// font-size: 15px;
				// color: #c56462;
			}
		}

		& > div {
			display: inline-block;
			width: 14%;
			vertical-align: middle;
			padding: 0;
			margin: 0;
			float: left;

			input[type="text"] {
				border: 1px solid #ccc;
				// border-radius: 0;
				font-size: 13px;
				height: 35px;
				padding-left: 10px;
				width: 100%;
			}

			.parsley-errors-list.filled {
				padding-left: 0;
			}

			.parsley-required {
				border-bottom: 0;
				margin-top: 5px;
				padding: 0;
			}

			&.date-to,
			&.date-from {
				@include mob {
					width: 100%;
				}
			}

			&.date-from {
				padding-right: 10px;
				position: relative;
			}

			&.date-to {
				padding-left: 10px;
			}

			&.price {
				del {
					span {
						font-weight: 400;
						font-size: 12px;
					}
				}

				ins {
					background-color: rgba(255, 255, 255, 0);
				}
			}

			&.price,
			&.status {
				// text-align: center;
				padding: 0 15px;
			}

			&.action {
				text-align: right;

				&.btn {
					margin-right: -8px;
					padding: 8px 25px;
					border: none;
					font-size: 14px;
					display: inline-block;
					// background: #f83531;
					color: #fff;
					border-radius: 4px;
				}
			}

			span {
				// display: block;
				font-size: 14px;
				font-weight: 400;
				text-transform: capitalize;

				&.availabily-heading-label {
					display: none;
					font-size: 12px;
					color: #999;
				}
			}

			.person-count {
				span {
					display: inline-block;
				}
			}

			&.wp-travel-booking-row,
			&.wp-travel-booking-row-single-price {
				width: 100% !important;
				padding-top: 20px;
				margin-top: 20px;
				padding-bottom: 20px;
				margin-bottom: -10px;

				@include mob {
					padding-left: 0 !important;
				}

				&.animate {
					// background-color: #f9f9f9;
					padding: 15px;
					padding-left: 15px !important;
					height: auto;
					opacity: 1;
				}

				[class*="col"] {
					margin: 5px 0;
					float: left;

					@include xs {
						width: 100%;
						padding-right: 0;
					}
				}

				label {
					display: block;
					margin-bottom: 5px;
					font-weight: 600;
				}

				input {
					height: 35px;
					margin-bottom: 15px;
					width: 100%;
					padding: 3px 8px;
				}

				.add-to-cart {
					display: inline-block;
					width: auto;

					// padding: 0 15px;
					// margin-top: 27px;
					// margin-bottom: 30px;
					@include xs {
						padding-left: 0;
					}
				}
			}

			&.wp-travel-booking-row {
				border-top: 1px solid #ddd;
			}
		}

		.price del > span {
			display: block;
			text-decoration: line-through;
			text-decoration-color: red;
		}

		span.wp-travel-regular-price {
			display: block;
			text-decoration: line-through;
			text-decoration-color: red;
		}

		.wp-travel-calender-column {
			width: 260px;
			float: left;
			position: relative;
			margin-bottom: 15px !important;
		}

		.wp-travel-calender-aside {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			width: 100%;
			justify-content: flex-end;
			position: relative;

			@include xs {
				width: 100%;

				[class*="col"] {
					padding-left: 0;
				}
			}
		}

		// Tour extra
		.wp_travel_tour_extras_content {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 60px;
		}

		.wp_travel_tour_extras {
			.wp_travel_tour_extras_option_single {
				margin-bottom: 0px;
				padding: 0px;
				position: relative;
			}
		}
	}

	&.additional-col {
		li {
			> div {
				// width: 16.66%;
				width: 14.26%;
			}
		}
	}

	.availabily-heading {
		font-size: 12px;
		color: #555;
		padding-bottom: 14px;
		font-weight: 600;
		text-transform: capitalize;

		@include mob {
			display: none;
		}

		.date-from {
			&:after {
				content: none;
			}
		}
	}

	.availabily-content {
		// input[type="number"] {
		//     width: 70%;
		// }
		.btn {
			padding: 8px 15px;
			border: 1px solid #8b8b8b;
			font-size: 14px;
			display: inline-block;

			@include extra-large-screen {
				margin-right: -4px;
			}
		}
	}

	.availabily-content.sold-out {
		&:after {
			content: "";
			position: absolute;
			left: 0;
			right: 5px;
			top: 0;
			bottom: 0;
			width: 100%;
			background: rgba(255, 255, 255, 0.6);
			display: block;
		}

		& > div.date-from:after {
			display: none;
		}
	}
}

.detail-content-wrapper {
	padding-right: 15px;

	@include extra-large-screen {
		.detail-content-wrapper {
			padding-right: 0;
		}
	}
}

.detail-content {
	.map-route {
		width: 50%;
		float: right;
		margin: 5px 0;
		margin-left: 15px;
	}
}

@media only screen and (max-width: 991px) {
	ul.availabily-list li {
		font-size: 13px;
		padding: 0px;
	}

	ul.availabily-list li form > div span {
		// display: block;
		font-size: 14px;
	}

	ul.availabily-list li form > div.action .btn {
		font-size: 10px;
		margin-right: 0px;
	}
}

@media only screen and (max-width: 767px) {
	ul.availabily-list li.availabily-heading {
		display: none;
	}

	ul.availabily-list li {
		padding: 0px;
		margin: 15px 0px 25px;
	}

	.availabily-content.opened {
		background: transparent !important;
		box-shadow: none !important;
		border-right: 0 !important;
		border-left: 0 !important;
		border-top: 0 !important;
	}

	ul.availabily-list li > form .wp_travel_tour_extras_content {
		grid-template-columns: 1fr;
		grid-gap: 30px;
	}

	ul.availabily-list {
		li > form > div {
			display: block;
			width: 100% !important;
			position: relative;
			padding-left: 124px !important;
			text-align: left !important;
			margin-bottom: 15px;
			text-transform: capitalize;

			span.availabily-heading-label {
				display: block;
				position: absolute;
				top: auto;
				left: 0;
				text-align: left;
				width: 120px;
			}

			&.action {
				.wp-travel-sold-out {
					display: inline-block;
					min-width: 130px;
				}
			}
		}

		li.availabily-content form > div.date-from:after {
			top: 0;
			right: auto;
			left: 0;
			margin-top: 0;
		}
	}
}

//end
//trips facts
.tour-info {
	// margin: 0 0 30px;
	// margin: 30px 0;
	margin-block: 20px;

	.tour-info-box {
		border: 1px solid #e0e0e0;
		background: #f1f1f1;
		padding: 20px 25px;
	}

	.tour-info-column {
		width: 100%;
		// float: left;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.tour-info-item {
			display: inline-flex;
			// font-style: italic;
			// width: 33.3333%;
			// float: left;
			margin: 2px 0;
			// padding: 0 5px;
			width: auto;
			align-items: center;
			// width: 33.3333333%;
			// padding: 0 15px 0 0;

			@include sidr-view {
				width: 50%;
				@media (max-width: 991px) {
					width: auto;
				}
			}

			@include mob {
				width: 100%;
			}

			i {
				font-size: 16px;
				padding-right: 10px;
				line-height: 25px;
			}

			.tooltip-area {
				i {
					padding-left: 10px;
				}
			}
		}
	}
}

//end
//cart page

@media (max-width: 768px) {
	.sticky-sidebar.is_stuck {
		position: relative !important;
		top: 0 !important;
		width: 100% !important;

		& .sticky-sidebar.is_stuck ~ div {
			display: none !important;
		}
	}
}


// Dashboard Booking Details CSS
#wp-travel-tab-content-bookings {
	.my-order {
		.order-wrapper {
			> h3 {
				display: block;
				font-size: 15px;
				font-weight: bold;
				text-transform: uppercase;
				margin-bottom: 0;
				color: #3f3f3f;

				a {
					float: right;
					font-size: 13px;
					margin-left: 15px;
					text-transform: capitalize;
				}
			}
		}

		h3 {
			display: block;
			font-size: 15px;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 0;
			color: #3f3f3f;
		}

		.table-wrp {
			background-color: #fff;
			margin: 35px 0;
			overflow: auto;
			padding: 25px 15px;
			box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
			-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
			-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
		}

		table {
			&.order-list-table,
			&.my-order-payment-details {
				font-size: 13px;
				min-width: 800px;
				border: 0;
				margin-bottom: 0;
				border-collapse: separate;
				border-spacing: 0;

				thead {
					border: 0;

					@media screen and (max-width: 767.99px) {
						clip: unset;
						height: auto;
						margin: 0;
						overflow: unset;
						padding: unset;
						position: unset;
						width: auto;
					}
				}

				th {
					color: #545454;
					text-align: left;
					border-width: 0px 0px 1px;
					border-style: solid;
					border-color: #e8e8e8;
					padding: 4px 0px 16px;
					background: transparent;

					&:nth-child(1) {
						width: 10%;
					}

					&:nth-child(2) {
						// width: 17%;
						width: 23%;
					}

					&:nth-child(3) {
						// width: 38%;
						width: 15%;
					}

					&:nth-child(4) {
						width: 15%;
					}

					&:nth-child(5) {
						// width: 10%;
						width: 15%;
					}

					&:nth-child(6) {
						// width: 10%;
						width: 12%;
					}
				}

				td {
					color: #545454;
					font-size: 13px;
					font-weight: normal;
					padding: 0px 0px 18px !important;
					border: 0px;
					font-weight: normal;
					text-align: left;
					text-transform: capitalize;

					p {
						font-size: 13px;
						line-height: 1.5;
						margin-bottom: 0;
					}

					.name-title {
						a {
							color: #31708f;
							display: inline-block;
						}
					}

					.contact-title {
						a {
							background-color: #31708f;
							color: #fff;
							padding: 5px 15px;
							display: inline-block;
							border-radius: 3px;

							&:hover {
								background-color: #df1814;
							}
						}
					}

					@media screen and (max-width: 767.99px) {
						display: table-cell;
					}

					&::before {
						@media screen and (max-width: 767.99px) {
							content: "";
							display: none;
						}
					}
				}

				.tbody-content {
					&:first-of-type {
						td {
							padding-top: 28px !important;
						}
					}

					&:nth-of-type(2n) {
						td {
							background-color: transparent;
						}
					}

					&:last-of-type {
						td {
							padding-bottom: 6px !important;
						}
					}
				}
			}

			&.my-order-payment-details {
				min-width: 100%;
				margin-top: 20px;

				@media screen and (max-width: 768px) {
					padding: 0 15px;
				}

				tr {
					td {
						padding-top: 20px !important;
						padding-bottom: 0 !important;
					}
				}
			}
		}

		.book-more,
		.no-order {
			text-align: right;

			a {
				background-color: #31708f;
				color: #fff;
				padding: 10px 20px;
				display: inline-block;
				border-radius: 3px;

				&:hover {
					background-color: #df1814;
				}
			}
		}

		input[type="radio"] {
			&:checked,
			&:not(:checked) {
				position: absolute;
				left: -9999px;

				+ label {
					position: relative;
					padding-left: 28px;
					cursor: pointer;
					line-height: 20px;
					display: inline-block;
					color: #545454;

					&::before {
						content: "";
						position: absolute;
						left: 0;
						top: 0;
						width: 18px;
						height: 18px;
						border: 1px solid #ddd;
						border-radius: 100%;
						background: #fff;
					}

					&::after {
						content: "";
						width: 10px;
						height: 10px;
						background: #f83531;
						position: absolute;
						top: 4px;
						left: 4px;
						border-radius: 100%;
						-webkit-transition: all 0.2s ease;
						transition: all 0.2s ease;
					}
				}
			}

			&:not(:checked) {
				+ label {
					&::after {
						opacity: 0;
						-webkit-transform: scale(0);
						transform: scale(0);
					}
				}
			}

			&:checked {
				+ label {
					&::after {
						opacity: 1;
						-webkit-transform: scale(1);
						transform: scale(1);
					}
				}
			}
		}
	}

	.my-order-details {
		.my-order-single-content-wrap {
			min-width: 970px;
			padding: 20px 15px;
		}

		.table-wrp {
			margin: 20px 0;
			padding: 0;

			h3 {
				color: #383838;
				display: block;
				line-height: 1.2;
				font-weight: 700;
			}

			.my-order-single-sidebar {
				float: right;
				width: 30%;
				padding-left: 30px;
			}

			.my-order-single-title {
				// font-size: 15px;
				text-transform: uppercase;
				padding-top: 20px;
				padding-bottom: 16px;
				border-bottom: 1px solid #e1e1e1;
				// color: #31708f;
				margin-bottom: 10px;
			}

			.my-order-single-sub-title {
				// font-size: 14px;
				font-weight: 600;
				padding-top: 40px;
				border-bottom: 1px solid #e1e1e1;
				padding-bottom: 15px;
				margin-bottom: 20px;
			}

			.my-order-single-content {
				overflow: hidden;
				.col-md-6 {
					@media (min-width: 992px) {
						float: left;
					}
				}

				.my-order-single-col-last {
					margin-top: 15px;
				}
			}

			.my-order-single-field {
				color: #545454;
				margin-bottom: 10px;

				.my-order-head {
					font-weight: 600;
					float: left;
					margin-right: 10px;
				}

				.my-order-tail {
					display: block;
					overflow: hidden;
				}

				// a {
				// 	color: #31708f;
				// }

				&.my-order-additional-note {
					.my-order-head {
						float: none;
						margin-bottom: 7px;
						display: block;
					}
				}
			}

			.my-order-single-traveller-info {
				margin-top: 15px;
				margin-bottom: 35px;
			}

			.my-order-single-price-breakdown {
				margin-top: 15px;
				margin-bottom: 30px;

				.my-order-price-breakdown-summary {
					float: right;
					min-width: 350px;
				}
			}

			.my-order-price-breakdown {
				color: #515151;

				.my-order-price-breakdown-base-price-wrap {
					margin-bottom: 20px;
					padding-bottom: 8px;
					border-bottom: 1px solid #e1e1e1;
				}

				.my-order-price-breakdown-base-price {
					margin-bottom: 12px;
				}

				.my-order-head {
					font-weight: 600;
					margin-right: 13px;
				}

				.my-order-tail {
					.my-order-price,
					&.my-order-right {
						float: right;
					}
				}

				.my-order-price-breakdown-additional-service {
					margin-bottom: 20px;
					padding-bottom: 10px;
					border-bottom: 1px solid #e1e1e1;
				}

				.my-order-price-breakdown-additional-service-title {
					font-size: 16px;
					padding-top: 5px;
					margin-bottom: 16px;
				}

				.my-order-price-breakdown-additional-service-item {
					margin-bottom: 10px;

					.my-order-head {
						font-weight: 400;
					}
				}
			}

			.my-order-price-breakdown-sub-total,
			.my-order-price-breakdown-tax-rate,
			.my-order-price-breakdown-tax-due,
			.my-order-price-breakdown-coupon-code,
			.my-order-price-breakdown-coupon-amount {
				margin-bottom: 12px;
			}

			.my-order-price-breakdown-coupon-code {
				.my-order-coupon-text {
					float: right;
				}
			}

			.my-order-single-total-price {
				padding-top: 15px;
				padding-bottom: 3px;
				margin-top: 20px;
				margin-bottom: 15px;
				border-top: 1px solid #e1e1e1;
				border-bottom: 1px solid #e1e1e1;

				.my-order-single-field {
					color: #545454;
					float: right;
					min-width: 350px;
				}

				.my-order-tail {
					float: right;
					font-weight: 600;
				}
			}

			// table {
			//     display: none;
			// }
		}
	}

	.my-order-payment-gateway {
		margin-bottom: 20px;
	}

	.wp-travel-form-field {
		input[type="submit"] {
			background-color: #31708f;
			color: #fff;
			font-size: 12.5px;
			text-transform: uppercase;
			font-weight: 600;
			padding: 15px 20px;
			display: inline-block;
			border-radius: 0px;
			-moz-border-radius: 0px;
			-webkit-border-radius: 0px;
			margin-bottom: 10px;
			text-align: center;
		}
		&.payment-card-field {
			.StripeElement {
				padding-inline: 15px;
			}
		}
	}

	.my-order-status {
		display: inline-block;
		padding: 2px 10px 3px;
		color: #fff;
		border-radius: 5px;
		font-size: 13px;
	}

	label[for*="wp-travel-amount-info"],
	label[for*="wp-travel-payment-gateway"] {
		display: block;
		font-size: 15px;
		font-weight: bold;
		text-transform: uppercase;
		margin-top: 20px;
		margin-bottom: 5px;
		color: #3f3f3f;
	}

	label[for*="wp-travel-payment-gateway"] {
		margin-bottom: 20px;
	}

	.wp-travel-text-info {
		font-size: 14px;
		margin-bottom: 20px;
		font-weight: 700;
	}
}
