
// close button
button.wptravel-single-page-close-btn {
    position: absolute;
    right: 20px;
    width: 40px;
    color: red;
    background: transparent;
    height: 40px;
    padding: 0 !important;
}

.wptravel-single-page-close-btn:hover {
    text-decoration: none;
    // color: green;
    transform: scale(1.2);
    transition: width 2s;
    transition: height 2s;
}
@media only screen and (max-width: 767px) {

    .booknow-btn-modal form#wp-travel-booking .wptravel-booking-payment-page .wp-travel-one-page-bank-detail table{
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}
@media only screen and (max-width: 576px) {
    .booknow-btn-modal form#wp-travel-booking .wptravel-booking-payment-page .components-panel__body.is-opened .components-panel__row.wptravel-singlepage-booking-options label{
        width: 100%;
    }
    .booknow-btn-modal form#wp-travel-booking .wptravel-booking-payment-page .components-panel__body.is-opened .components-panel__row.wptravel-singlepage-booking-options select#wp-travel-option{
        margin-left: 0;
        margin-top: 10px;
    }
    .wptravel-single-page-calender-booking .wp-travel-booking__pricing-wrapper .wp-travel-booking__pricing-name{
        padding: 30px 10px;
    }
    .booknow-btn-modal form#wp-travel-booking .wptravel-booking-payment-page .components-panel__body.is-opened{
        padding: 10px 10px 0px 10px;
    }
    .wptravel-single-page-calender-booking{
        .wp-travel-booking__header{
            flex-direction: column-reverse;
            align-items: end;
            gap: 10px;
        }
    }
}
