
// close button
button.wptravel-single-page-close-btn {
    width: 40px;
    color: red;
    background: transparent;
    height: 40px;
    padding: 0 !important;
    border: none;
}

.wptravel-single-page-close-btn:hover {
    text-decoration: none;
    // color: green;
    transform: scale(1.2);
    transition: width 2s;
    transition: height 2s;
}
@media only screen and (max-width: 767px) {

    .booknow-btn-modal form#wp-travel-booking .wptravel-booking-payment-page .wp-travel-one-page-bank-detail table{
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    .wptravel-layout-v2.ReactModal__Body--open .ReactModal__Content .wptravel-recurring-table .tbody-table .tablebody-booking-person .wp-travel-booking__trip-option-list li .text-left{
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 576px) {
    .wptravel-udate-cart-wrapper{
        flex-wrap: wrap;
    }
    .booknow-btn-modal form#wp-travel-booking .wptravel-booking-payment-page .components-panel__body.is-opened .components-panel__row.wptravel-singlepage-booking-options label{
        width: 100%;
    }
    .booknow-btn-modal form#wp-travel-booking .wptravel-booking-payment-page .components-panel__body.is-opened .components-panel__row.wptravel-singlepage-booking-options select#wp-travel-option{
        margin-left: 0;
        margin-top: 10px;
    }
    .wptravel-single-page-calender-booking .wp-travel-booking__pricing-wrapper .wp-travel-booking__pricing-name{
        padding: 30px 10px;
    }
    .booknow-btn-modal form#wp-travel-booking .wptravel-booking-payment-page .components-panel__body.is-opened{
        padding: 10px 10px 0px 10px;
    }
    .wptravel-single-page-calender-booking{
        .wp-travel-booking__header{
            flex-direction: column-reverse;
            align-items: end;
            gap: 10px;
        }
    }
    .wptravel-on-page-stripe-ideal-checkout-field{
        padding: 40px 10px 10px 10px;
    }
    .wptravel-layout-v2.ReactModal__Body--open .ReactModal__Content .wptravel-recurring-table .tbody-table .tablebody-booking-pricings span.components-checkbox-control__input-container{
        margin-right: 0;
    }
    
}
