
.wptravel-single-page-calender-booking.wp-travel-calendar-view{
    .parash-head{
        display: flex;
        justify-content: space-between;
    }
    .parash-pricing-date-combined{
        display: flex;
        justify-content: space-between;
    }
    button.wp-travel-reset-btn 
    .parash-person-category{
        display: none;
    }
}