.wptravel-on-page-booking-update-cart-section {
	.wp-travel-on-page-cart-update-button {
		display: flex;
		// gap: 10px;
	}

	.wptrave-on-page-booking-cart-update-field {
		display: flex;
		// gap: 40px;
		margin: 20px 0;
		label {
			width: 100px;
		}
	}
	button {
		height: 30px;
		width: 30px;
		border: 0;
		border-radius: 5px;
		transition: all 0.2s ease-in;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 10px;
		text-decoration: none;
	}
}

// Update cart button
.wptravel-on-page-booking-cart-update-btn {
	margin: 10px 0;
}
// edit cart
.wptravel-udate-cart-wrapper button.components-button {
	margin: 10px 0;
}
.wptravel-udate-cart-wrapper
	button.wptravel-page-cart-update-btn-increase:hover {
	transform: scale(1.06);
	transition: width 2s;
}

.wptravel-onpage-checkbox-container {
	.components-panel__body.is-opened {
		align-items: baseline;
	}
}

// Coupon code apply
.booknow-btn-modal {
	.wptravel-on-page-coupon-apply {
		display: flex;
		align-items: center;
		gap: 10px;
	}
}