@import "./node_modules/react-datepicker/src/stylesheets/datepicker.scss";
@import './checkout';
@import './update_cart';

// map
.wp-travel-map {
	iframe {
		border: 0;
	}
}

// .wptravel-block-wrapper {
// 	margin-top: 30px;
// }
#send-email {
	// margin-top: -25px !important;
	margin-top: 0px !important;
	margin-bottom: 30px;
}

.wp-travel-itinerary-downloads {
	text-align: center;
	margin: 30px 0;
	a.itinerary-download-button {
		background: rgb(218, 218, 218);
		// padding: 10px 40px 10px 20px;
		padding: 10px 20px;
		font-size: 18px;
		border-radius: 3px;
		text-decoration: none;
		color: #545454 !important;
		transition: 0.3s ease-in-out linear;
		i.fas.fa-download {
			margin-left: 10px;
			font-size: 14px;
		}
		&:hover {
			color: #545454 !important;
			background: #c7c7c7;
		}
	}
}

.react-datepicker__tab-loop {
	.react-datepicker-popper {
		z-index: 11;
		@media (max-width: 330px) {
			left: -50px !important;
		}
	}
}
input.wp-trave-pax-selected-frontend {
	width: 30px;
    height: 20px;
    line-height: 20px;
	text-align: center;
}

input.wp-trave-pax-selected-frontend-second { 
	width: 30px !important;
    height: 30px;
    text-align: center;
}