#wp-travel-trip-options {
	@import "./wp-travel-ui.scss";
	@import "tabs";
	@import "trip-option";
}


@import "./react-date-picker.scss";
// @import "mixins.scss";
.wp-travel-trip-duration-date-validation-date-picker {
	.react-datepicker-wrapper {
		width: unset;
	}
}
.wp-travel-trip-edit-price-date-react {
	.wp-travel-ui .components-panel__row .components-base-control{
		width: unset;
	}
}

.wp-travel-trip-duration-date-validation-date-picker{
	.react-datepicker-wrapper {
		.react-datepicker__input-container {
			input {
				width: 250px;
			}
		}
	}
}

.recurring-every-year{
	display: none !important;
}

/**
 * since 7.7.0
 * Fix for popover time selection
 *
 */
.components-popover__fallback-container .components-popover.components-dropdown__content .wp-travel-dropdown-content-wrap {
	width: 232px;
}