i.fa-times-circle {
	font-size: 18px;
	color: #ff4545;
	cursor: pointer;
}
//Top notification
.wp-travel-notification {
	&.notice-error.tab-error {
		padding: 15px;
		border-bottom: 1px solid #ccd0d4;
		.notification-content {
			padding: 1px 12px;
			//border: 1px solid #ccd0d4;
			border-left: 4px solid #ffb900;
			background-color: #fef8ee;
		}
	}
}

#wp-travel-post-disable-message {
	text-align: center;
	padding: 5px;
	background: whitesmoke;
	color: #aa0001;
	border-top: 1px solid #ddd;
}

.wp-travel-dropdown-content-wrap {
	padding: 20px;
	> div {
		text-align: right;
	}
}
.wp-travel-datetimepicker {
	&.wp-travel-datetimepicker-hide-time {
		.components-datetime__time {
			fieldset:last-child {
				display: none;
			}
		}
	}
	&.wp-travel-datetimepicker-hide-date {
		.components-datetime__time {
			fieldset:first-child {
				display: none;
			}
		}
		.components-datetime__date {
			display: none;
		}
	}
}

.wp-travel-form-input-with-clear {
	position: relative;
	.wp-travel-form-input-clear-btn {
		height: 100%;
		position: absolute;
		// top: -5px;
		// right: -10px;
		margin: auto;
		background: transparent;
		border: 0;
		top: 0;
		right: 0;
		&:hover {
			color: red;
		}
	}
}

.wp-travel-select-wrapper {
	// min-width: 50%;
	min-width: 250px;
	input {
		box-shadow: none !important;
	}
}
.wp-travel-sending-request {
	text-align: center;
	position: relative;

	&:before {
		width: 100%;
		height: 100%;
		background: #cccccc69;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9;
		display: flex;
	}
	.components-spinner {
		position: absolute;
		top: 50%;
	}
}

#wp-travel-settings-block {
	.wp-travel-block-tabs-wrapper {
		.wp-travel-block-tabs {
			.components-tab-panel__tab-content {
				margin-top: 0;
			}
			// #tab-panel-0-general-view {
			// 	margin-top: 0;
			// }
		}
	}
}

.inside {
	padding: 0 !important;
	margin: 0;
}

.components-panel__body {
	&.wp-travel-panelbody-add-top-gap {
		margin-top: 16px;
	}
	h4 {
		padding: 0px 16px;
	}
}

.wp-travel-trip-edit-menu {
	display: grid;
	grid-template-columns: 20% 80%;

	.components-tab-panel__tabs {
		background: #f3f4f5;
		border-right: 1px solid #e2e4e7;
		min-width: 20%;
		display: flex;
		flex-direction: column;

		button {
			box-shadow: unset;
			border-radius: 0;
			display: block;
			width: 100%;
			text-align: left;
			padding: 10px 5px;
			font-weight: 400;
			padding: 15px;
			border-bottom: 1px solid #e2e4e7;
			&:focus {
				background: transparent;
			}
			&.active-tab {
				// font-weight: 600;
				box-shadow: inset -3px 0px #007cba;
			}

			&:hover {
				box-shadow: inset -3px 0px #007cba;
			}
		}
	}

	.components-tab-panel__tab-content {
		// padding: 16px;
		flex: 1;
	}

	&.wp-travel-trip-edit-menu-horizontal {
		display: flex;
		flex-direction: column;

		.components-tab-panel__tabs {
			display: block;
			padding: 0 20px;
			.components-button {
				width: auto;
				display: inline-block;
				border-bottom: 0;
				&.active-tab {
					background: #fff;
					box-shadow: none;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}

				&:hover {
					box-shadow: none;
				}
			}
		}
	}

	.wp-travel-trip-edit-menu-add-gap {
		.components-tab-panel__tab-content {
			margin-top: 15px;
			.wp-travel-trip-pricings {
				.wp-travel-select-pricing {
					.components-panel__row {
						padding: 10px !important;
						border-radius: 4px;
						background-color: #eee;
						align-items: center !important;
					}
				}
			}
		}
	}
}

.wp-editor-wrap {
	width: 100%;
	textarea {
		width: 100%;
	}
}

#wp-travel-trip-options-wrap {
	.wp-travel-trip-pricings {
		span.components-spinner {
			right: 50% !important;
		}
		.components-tab-panel__tab-content {
			.wp-travel-ui {
				.wp-travel-sortable-component.itinerary-sortable {
					.components-panel__body {
						.components-panel__row.itinerary-description {
							flex-direction: row-reverse;
							.components-base-control {
								width: 60% !important;
							}
						}
					}
				}
			}
		}
		#tab-panel-0-price-dates-view {
			margin-top: 0;
			.wp-travel-ui.wp-travel-ui-card {
				padding-top: 0;
				padding-left: 0;
				padding-right: 0;
				.wp-travel-trip-edit-menu {
					#tab-panel-2-dates-view {
						padding: 0 16px;
						h4 {
							padding-left: 16px !important;
							padding-right: 16px !important;
						}
						.components-panel__row {
							padding-left: 16px !important;
							padding-right: 16px !important;
						}
					}
					.components-tab-panel__tab-content {
						padding: 0 16px;
						.wp-travel-ui.wp-travel-ui-card-top-border {
							padding: 5px 15px !important;
						}
					}
				}
			}
		}

		.wp-travel-trip-edit-menu {
			.components-tab-panel__tab-content {
				.wp-travel-ui {
					.wp-travel-sortable-component {
						.wptravel-swap-list {
							display: none;
						}
					}
				}
			}
		}

		.wp-travel-ui {
			.wp-travel-gallery-list {
				.gallery-item {
					.wptravel-swap-list {
						bottom: unset;
						top: 22px;
						left: 40px;
						// top: unset;
						right: unset;
						display: block !important;
						.components-button {
							&:first-child {
								background: #fff;
								padding: 5px;
								color: #2f2c2c;
								position: absolute;
								left: 7px;
								top: 7px;
								&:hover {
									color: #007cba;
								}
							}
							&:last-child {
								background: #fff;
								padding: 5px;
								color: #2f2c2c;
								position: absolute;
								left: 46px;
								top: 7px;
								&:hover {
									color: #007cba;
								}
							}
						}
					}
					.components-button {
						padding: 5px;
						background: #fff;
						color: #2f2c2c;
						top: 7px;
						right: 7px;
						display: none;
						border-radius: 0 !important;
						&:hover {
							color: #e8213d;
						}
						// svg.gallery-delete-button {
						// 	// position: absolute;
						// 	// padding: 5px;
						// 	// background: #fff;
						// 	// color: #2f2c2c;
						// 	// top: 7px;
						// 	// right: 7px;
						// 	// &:hover {
						// 	// 	color: #e8213d;
						// 	// }
						// }
					}
					&.featured-image {
						&::before {
							top: unset;
							left: unset;
							bottom: 7px;
							right: 7px;
						}
					}
					&:hover {
						.wptravel-swap-list {
							// display: block;
							.components-button {
								padding-bottom: 2px;
							}
						}

						.components-button {
							display: block;

							padding-bottom: 2px;
						}
					}
				}
			}
		}
	}
}

.wp-travel-block-tabs {
	.components-tab-panel__tab-content {
		.wp-travel-ui {
			.wp-travel-trip-edit-menu {
				.components-tab-panel__tabs {
					flex-direction: row;
				}
			}
		}
	}
}

.wp-travel-trip-pricings {
	.components-panel__body {
		border: 1px solid #e0e0e0;
		margin-bottom: 10px;

		&.is-opened {
			padding: 0;
			background: #fbfbfb;

			& > .components-panel__body-title {
				background: #e0e0e0;
			}
		}

		.components-panel__body-title {
			padding: 0px !important;
		}

		.components-panel__row {
			padding: 10px 16px;
			margin-top: 5px;
		}
	}

	.wp-travel-has-child-panel {
		align-items: flex-start;

		.wp-travel-panel-wrap {
			min-width: 50%;
			max-width: 100%;
			width: 100%;
			.components-panel__body {
				.components-panel__body-title {
					padding-left: 0 !important;
				}
			}
		}
	}

	.wp-travel-action-section {
		// padding: 0px 0 10px !important;

		&.has-right-padding {
			padding-right: 16px !important;
		}
	}
}

// WP Travel React App CSS
#wp-travel-react-app {
	.wp-travel-ui {
		.components-panel__row.wp-travel-editor {
			.wp-editor-wrap {
				width: 100%;
				.wp-editor-tools {
					.wp-editor-container {
						border: none;
						textarea {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

.wp-travel-ui {
	.wp-travel-trip-edit-menu {
		.components-tab-panel__tabs {
			background: #f3f4f5;
			padding-left: 20px;
		}
	}

	// Facts tab
	.wp-travel-trip-fact {
		.components-panel__row {
			margin-top: 5px;
			margin-bottom: 20px;
		}
	}

	// Locations tab
	.wp-travel-trip-location {
		.components-panel__row {
			.components-base-control {
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				align-items: end;
				.components-base-control__field {
					display: block;
					.components-form-toggle {
						margin-right: 0;
					}
				}
			}
		}
	}

	// Checkout tab
	.components-panel__row {
		.wp-core-ui.wp-editor-wrap {
			width: 100%;
		}
	}

	// Inventory Options
	.components-panel__row {
		margin: 20px 0;
		.components-base-control {
			.components-base-control__field {
				// display: flex;
				justify-content: flex-start;
				flex-direction: row-reverse;
				.components-checkbox-control__input-container {
					.components-checkbox-control__checked {
						width: 20px;
						height: 18px;
						top: 0;
						left: 0;
					}
				}
				.components-form-toggle {
					margin-right: 0;
				}
			}
		}
	}
}

.wp-travel-trip-edit-menu .components-panel__icon {
	position: absolute;
	top: 15px;
	left: 0;
}

.components-tab-panel__tab-content {
	margin-top: 15px;
	.wp-travel-trip-pricings {
		.wp-travel-select-pricing {
			background: #f2f3f4;
			border-radius: 4px;
			.components-panel__row {
				align-items: center !important;
				padding: 10px 15px !important;
			}
		}
	}
}

// extra css
#poststuff {
	#post-body {
		#postbox-container-2 {
			.meta-box-sortables {
				.postbox {
					.inside {
						.components-tab-panel__tabs {
							.components-button {
								height: auto;
								padding: 15px;
								&.active-tab {
									background: #fff;
									border: none;
								}
								&:focus {
									border: none;
									// box-shadow: none;
								}
							}
						}
						.components-tab-panel__tab-content {
							.wp-travel-trip-pricings {
								.wp-travel-sortable-component {
									.components-panel__body {
										h2 {
											// padding-left: 0 !important;
											padding-left: 20px !important;
										}
									}
									.components-panel__row.wp-travel-has-child-panel {
										.wp-travel-panel-wrap {
											h2 {
												padding-left: 0 !important;
											}
										}
									}
								}
							}

							hr {
								display: none;
							}

							.wp-travel-ui.wp-travel-ui-card.wp-travel-ui-card-top-border {
								.components-panel__row {
									border-bottom: 0;
								}
							}

							.components-panel__row {
								//border-bottom: 1px solid #eee;
								align-items: flex-start;
								margin: 0;
								padding-top: 10px;
								padding-bottom: 20px;
								flex-wrap: wrap;
								.description {
									float: right;
									margin: 10px 0;
									.wp-travel-upsell-badge {
										margin-left: 1em;
										display: inline-block;
										float: right;
										margin-top: 10px;
									}
								}
								.wp-travel-select-wrapper {
									min-width: unset;
									width: 250px;
									//height: 30px;
									min-height: unset;
									.css-yk16xz-control,
									.css-1pahdxg-control {
										min-height: unset;
										//height: 30px;
										border-color: #7e8993;
										.css-b8ldur-Input {
											margin: 0;
											padding: 0;
											// input{
											// 	box-shadow: none;
											// }
										}
										.css-1hwfws3 {
											padding: 0 8px;
										}
										.css-tlfecz-indicatorContainer,
										.css-1gtu0rj-indicatorContainer {
											padding: 0 8px;
										}
									}
								}
								&.wp-travel-add-new-category {
									padding-right: 0 !important;
								}
							}
							.wp-travel-ui ~ .components-panel__row {
								display: flex;
								align-items: center;
								position: absolute;
								bottom: 0;
								width: calc(100% - 2.5em);
							}
							td,
							th {
								.components-base-control {
									width: unset;
								}
							}

							.components-base-control {
								width: 250px;
								.components-base-control__field {
									justify-content: flex-start;
									// flex-direction: row-reverse;
									flex-direction: column;
									.components-form-toggle {
										margin-right: 0;
									}
								}
							}
							.text-right {
								.components-base-control {
									width: auto;
								}
							}
							.components-toggle-control {
								display: flex;
								flex-direction: column;
								align-items: flex-end;
							}
							.components-base-control__help {
								margin-top: 5px;
								text-align: right;
								line-height: 16px;
							}
							.wp-travel-itinerary-image {
								display: flex;
								flex-direction: column;
								align-items: flex-end;
								width: 250px;
								.media-preview {
									img {
										width: 250px;
										height: 250px;
										margin-bottom: 15px;
										border-radius: 4px;
										border: 1px solid #0070a7;
										padding: 4px;
										object-fit: cover;
									}
								}
								.components-button {
									width: 100%;
									justify-content: center;
								}
							}
							.DayPickerNavigation_leftButton__horizontalDefault {
								left: 22px;
							}
							.components-datetime {
								border: 1px solid #eee;
								border-radius: 4px;
								background-color: #fbfbfb;
								.components-datetime__time-wrapper {
									justify-content: space-between;
								}
							}
						}
					}
				}
			}
		}
	}
}

.description {
	float: right;
	margin: 10px 0;
	.wp-travel-upsell-badge {
		margin-left: 1em;
		display: inline-block;
		float: right;
		margin-top: 10px;
	}
}
.wp-travel-trip-itinerary,
[aria-labelledby="0-price-dates"] {
	.components-panel__row {
		label {
			//display: block;
		}
		.wp-travel-field-value {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}
	}
}

.components-range-control {
	.components-base-control__field {
		flex-direction: row !important;
	}
}

.components-form-token-field {
	width: 248px;
	.components-form-token-field__input-container {
		padding: 0 3px;
		.components-form-token-field__input {
			margin: 0 !important;
		}
		.components-form-token-field__token {
			.components-form-token-field__token-text {
				padding: 4px 8px;
				border-radius: 20px 0 0 20px;
				padding-right: 0;
			}
			.components-button {
				background-color: #e2e4e7 !important;
				box-shadow: none !important;
				border-radius: 0 20px 20px 0;
			}
		}
	}
}

// div[aria-labelledby="0-tabs"],
// div[aria-labelledby="0-itinerary"],
// div[aria-labelledby="0-facts"],
.components-panel__body {
	border: 1px solid #e0e0e0;
	margin-bottom: 10px;
	&.is-opened {
		.components-panel__row {
			padding: 10px 30px;
		}
		.components-panel__body-title {
			background: #e0e0e0;
		}
	}
}

.wp-travel-sortable-component {
	.components-panel__body {
		.components-panel__body-title {
			padding-left: 25px !important;
			.components-button {
				padding-left: 30px;
				// For both section wp-travel-react-test and block section
				flex-direction: row-reverse;
				justify-content: start;
				align-items: center;
				svg {
					margin: 0 10px 0 0;
				}
			}
		}
	}
}

// .wp-travel-sortable-component {
//   .components-panel__body {
//     .components-panel__row {

//     }
//   }
// }

div[aria-labelledby="0-includes-excludes"] {
	.components-tab-panel__tab-content {
		.wp-travel-trip-itinerary {
			.components-panel__row {
				&:not(:last-child) {
					flex-direction: column;
				}
				label {
					padding-top: 10px;
					padding-bottom: 20px;
				}
			}
		}
	}
}

.components-notice {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 10px;
	flex: 1;
	&.is-dismissible {
		padding-right: 15px;
	}
}

.components-drop-zone__provider {
	padding: 1em 0;
	//   border-radius: 12px;
	.dropzone {
		border: 4px dashed #b4b9be;
		background-color: #f1f1f1;
		background-color: #f1f1f1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 215px;
		.uploader-info {
			font-size: 16px;
			font-weight: 500;
			margin-bottom: 0.5em;
			color: #666;
		}
		.uploader-buttons {
			button {
				&:not(:first-child) {
					margin-left: 0.25rem;
				}
			}
		}
	}
}

.wp-travel-save-notice {
	color: #f44336;
	font-weight: bold;
}

// .wp-travel-trip-pricings {
.wp-travel-itinerary-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 0;
	h3 {
		margin: 0 !important;
	}
	.wp-travel-action-section {
		padding: 0 !important;
	}
}
// }

.components-dropdown {
	position: relative;
	.components-popover {
		position: absolute !important;
		left: 50% !important;
		top: 100% !important;
		z-index: 999999;
	}
}

.components-panel__body.is-opened {
	position: relative;
	padding: 0 !important;
}

.wp-travel-add-time {
	margin-top: 10px;
	text-align: right;
}

.flex-1 {
	flex: 1;
}

.m-0 {
	margin: 0 !important;
}

.wp-travel-save-changes .text-success {
	margin: 0;
}
// .wp-travel-save-changes {
// 	display: none;

// }

.text-success {
	color: #46b450;
}

.wp-travel-disabled {
	pointer-events: none;
	opacity: 0.3;
}

.text-right {
	text-align: right;
}

div[aria-labelledby="0-itinerary"] {
	.itinerary-description {
		.components-base-control {
			width: 100% !important;
			textarea {
				min-height: 198px;
			}
		}
	}
}

.components-button .components-popover .components-popover__content {
	overflow: auto;
	// left: -395px;
	left: 0;
	top: -60px;
	width: auto;
}
.components-dropdown .components-popover .components-popover__content {
	overflow: auto;
	left: -425px;
	// left: 0;
	top: -60px;
	// top: -90px;
	// width: 310px;
	width: auto;
}
.components-base-control {
	&.components-range-control {
		.components-range-control__root {
			.components-input-control__container {
				width: 80px !important;
			}
		}
	}
}

.components-button:focus {
	box-shadow: none;
}
