// Define variables.
$alabaster: #f7f7f1; // Red like color.

// Remove wordpress metabox styles and hide buttons.
.wp-travel-clean-metabox {
  background: $alabaster;
  overflow: hidden;

  .handlediv.button-link {
    display: none;
  }

  .hndle {
    display: none;
	 }

	.inside {
		margin: 0!important;
		padding: 0;
	}
}

// Css for the tabs.
.wp-travel-post-tabs-wrap{
	border: none;
	background: none;
	border-radius: 0;
	font-size: inherit;
	font-family: inherit;

	.wp-travel-post-tabs-nav{
		width: 160px;
		margin: 0;
		padding: 0;
		border-right: 1px solid #ddd;
		border-radius: 0;
		background: none;
		border: none;

		li {
	    float: left;
	    width: 100%;
	    margin: 0;
	    padding: 0;
	    border: none;
	    background: none;
	    border-radius: 0;

			a {
		    float: left;
		    width: 161px;
		    margin: 0px 0 0 0;
		    padding: 20px 10px 20px 10px;
		    text-decoration: none;
		    color: #999;
		    border-bottom: 1px solid #ddd;
		    background-position: left center;
		    background-repeat: no-repeat;
		    -webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
		    transition: none;
		    -webkit-transition: none;
				border-left: 4px solid #f7f7f7;

				&:before{
					font-family: 'Dashicons';
					width: 20px;
					height: 20px;
					font-size: 20px;
					margin: 0 10px 5px 0;
					display: inline-block;
					vertical-align: middle;
					line-height: 1;
				}
			}

			&.ui-state-active a,
			a:hover,
			a:focus {
				margin: -1px 0 0 0;
				text-decoration: none;
				color: #444;
				border-top: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
				border-right: 1px solid #ffffff;
				background-color: #ffffff;
				background-position: 20px center;
				box-shadow: none;
				border-left: 4px solid #0073aa;
			}

			// Icons.
			&#wp-travel-post-tab-detail a{
				&:before{
					content: "\f119";
				}
			}

			&#wp-travel-post-tab-additional_info a{
				&:before{
					content: "\f133";
				}
			}

			&#wp-travel-post-tab-images_gallery a{
				&:before{
					content: "\f161";
				}
			}

			&#wp-travel-post-tab-locations a{
				&:before{
					content: "\f231";
				}
			}

			&#wp-travel-post-tab-advanced a{
				&:before{
					content: "\f108";
				}
			}
		}
	}

	.wp-travel-post-tabs-contents{
		margin: 0 0 0 160px;
		padding: 20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background: #ffffff;
		border-left: 1px solid #ddd;

		&:after {
			content: "";
			display: table;
			clear: both;
		}
		.wp-travel-post-tab-content {
			// display: none;
			border-radius: 0;
			border: none;
			width: 100%;

			.wp-travel-post-tab-content-title{
				margin: 0 0 25px 0;
				padding: 0 0 16px 0;
				border-bottom: 1px solid #ddd;
				font-size: 16px;
				font-weight: 700;
			}

			// Gallery listing
			.wp-travel-open-uploaded-images{
				li{
					float: left;
					cursor: move;
					position: relative;
					margin-right: 10px;
					margin-bottom: 10px;

					&.featured-image:before{
						content: "\f155";
						color: #f1d375;
						position: absolute;
						left: -7px;
						font-family: dashicons;
						text-shadow: 0px 1px 1px #000;
						top: -8px;
						z-index: 1;
						font-size: 15px;
					}
					span{
						position: absolute;
						bottom: 0;
						background: red;
						color: #fff;
						display: block;
						width: 100%;
						text-align: center;
						padding: 2px 0px;
						cursor: pointer;
					}
				}
			}
		}
	}
}

// Drag and drop area.
.wp-travel-open-upload-area{

	#plupload-upload-ui{
		&.drag-drop #drag-drop-area {
			border: 4px dashed #b4b9be;
			height: 200px;

			.drag-drop-inside{
				margin: 47px auto 0;
				width: 500px;
				p.drag-drop-buttons {
					margin: 10px 0 0 0;
					text-align: left;
					position: relative;
			    top: 0;
			    left: 0;
				}
			}
		}
		p.upload-flash-bypass{
	 		display: none;
	 	}
		a.wp-travel-open-uploader.button {
			display: inline;
			position: absolute;
			margin: 0 auto;
			left: 280px;
			right: 0;
			width: 230px;
			top: 117px;
			text-align: center;
		}

		.wp-travel-upload-progress-bar {
	    display: none;
	    width: 100%;
	    position: relative;
	    height: 10px;
	    width: 100%;
	    margin: 10px auto;
	    border-radius: 10px;
	    background: #dfdfdf;
	    background: rgba(0, 0, 0, 0.1);

			.wp-travel-upload-progress-bar-inner {
			    height: 10px;
			    min-width: 20px;
			    width: 0;
			    background: #aaa;
			    background: rgba(0, 0, 0, 0.2);
			    border-radius: 10px;
			    -webkit-transition: width 300ms;
			    -moz-transition: width 300ms;
			    -ms-transition: width 300ms;
			    -o-transition: width 300ms;
			    transition: width 300ms;
			}

			.wp-travel-upload-progress-bar-status {
		    clear: both;
		    position: absolute;
		    right: 0;
		    width: 50%;
		    height: 30px;
		    margin: 12px 0 0 0;
		    text-align: right;
			}
		}
	}
}



body.post-type-itineraries .wp-travel-open-upload-area .button{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    padding: 0 16px 1px;
    height: 33px;
    line-height: 30px;
    text-decoration: none;
    text-shadow: none;
    font-weight: 600;
    -webkit-box-shadow: none;
    box-shadow: none;
}

// Settings.
.wp-trave-settings-warp {
  .wp-trave-settings-form-warp .wp-travel-tabs-wrap {
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    margin: 20px 0;
  }

  .wp-travel-setting-buttons {
    text-align: right;
  }
}
