// Location tab
.wp-travel-gmap {
  position: relative;
  .wp-travel-autocomplete-wrap {
    position: absolute;
    top: 10px;
    left: 190px;
    z-index: 1111;
    width: 350px;
    & > input {
      padding: 10px;
    }
  }
}

#wpt-here-map-results {
  ul{
    background: white;
    padding: 5px;
    margin: 5px;
    li{
      &:nth-child(odd){
        background-color: #eee;
      }
      &.wpt-here-map-suggestion{
        padding: 10px 5px 10px 5px;
        cursor: pointer;
      }
    }
  }

}
