.wp-travel-clean-metabox {
  background: #f7f7f1;
  overflow: hidden; }
  .wp-travel-clean-metabox .handlediv.button-link {
    display: none; }
  .wp-travel-clean-metabox .hndle {
    display: none; }
  .wp-travel-clean-metabox .inside {
    margin: 0 !important;
    padding: 0; }

.wp-travel-open-upload-area #plupload-upload-ui.drag-drop #drag-drop-area {
  border: 4px dashed #b4b9be;
  height: 200px; }
  .wp-travel-open-upload-area #plupload-upload-ui.drag-drop #drag-drop-area .drag-drop-inside {
    margin: 47px auto 0;
    width: 500px; }
    .wp-travel-open-upload-area #plupload-upload-ui.drag-drop #drag-drop-area .drag-drop-inside p.drag-drop-buttons {
      margin: 10px 0 0 0;
      text-align: left;
      position: relative;
      top: 0;
      left: 0; }
.wp-travel-open-upload-area #plupload-upload-ui p.upload-flash-bypass {
  display: none; }
.wp-travel-open-upload-area #plupload-upload-ui a.wp-travel-open-uploader.button {
  display: inline;
  position: absolute;
  margin: 0 auto;
  left: 280px;
  right: 0;
  width: 230px;
  top: 117px;
  text-align: center; }
.wp-travel-open-upload-area #plupload-upload-ui .wp-travel-upload-progress-bar {
  display: none;
  width: 100%;
  position: relative;
  height: 10px;
  width: 100%;
  margin: 10px auto;
  border-radius: 10px;
  background: #dfdfdf;
  background: rgba(0, 0, 0, 0.1); }
  .wp-travel-open-upload-area #plupload-upload-ui .wp-travel-upload-progress-bar .wp-travel-upload-progress-bar-inner {
    height: 10px;
    min-width: 20px;
    width: 0;
    background: #aaa;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    -webkit-transition: width 300ms;
    -moz-transition: width 300ms;
    -ms-transition: width 300ms;
    -o-transition: width 300ms;
    transition: width 300ms; }
  .wp-travel-open-upload-area #plupload-upload-ui .wp-travel-upload-progress-bar .wp-travel-upload-progress-bar-status {
    clear: both;
    position: absolute;
    right: 0;
    width: 50%;
    height: 30px;
    margin: 12px 0 0 0;
    text-align: right; }

body.post-type-itineraries .wp-travel-open-upload-area .button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 0 16px 1px;
  height: 33px;
  line-height: 30px;
  text-decoration: none;
  text-shadow: none;
  font-weight: 600;
  -webkit-box-shadow: none;
  box-shadow: none; }

.wp-trave-settings-warp .wp-trave-settings-form-warp .wp-travel-tabs-wrap {
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  margin: 20px 0; }
.wp-trave-settings-warp .wp-travel-setting-buttons {
  text-align: right; }

.itineraries-tax-wrap {
  border: 1px solid #f1f1f1;
  margin: 0 0 40px 0;
  padding: 10px 10px 10px 20px; }

.wp-travel-form-field {
  width: 45%;
  display: inline-block;
  margin-bottom: 15px;
  padding: 0 15px; }
  @media (max-width: 992px) {
    .wp-travel-form-field {
      width: 95%; } }
  .wp-travel-form-field label {
    margin-bottom: 5px;
    display: block; }
  .wp-travel-form-field input, .wp-travel-form-field select, .wp-travel-form-field textarea {
    width: 100%;
    color: #666;
    border: 1px solid rgba(221, 221, 221, 0.32);
    border-radius: 3px;
    padding: 5px 10px;
    height: 38px;
    font-weight: 300;
    box-shadow: none; }
  .wp-travel-form-field textarea {
    height: auto; }

.wp-travel-tabs-wrap #date_pax {
  margin: 10px 0 15px 0; }
  .wp-travel-tabs-wrap #date_pax:after, .wp-travel-tabs-wrap #date_pax:before {
    content: "";
    display: table;
    clear: both; }
  .wp-travel-tabs-wrap #date_pax table td.total_booked {
    text-align: center; }
  .wp-travel-tabs-wrap #date_pax table .cross-out.button {
    display: block;
    margin: 0 auto;
    background: #e40808;
    border: none;
    color: #fff;
    width: 100%; }
    .wp-travel-tabs-wrap #date_pax table .cross-out.button:hover {
      background: #b31919; }
  .wp-travel-tabs-wrap #date_pax table tbody td {
    border-bottom: 1px solid #f1f1f1;
    padding: 7px 0; }
.wp-travel-tabs-wrap .select2-container .select2-selection--multiple {
  border-radius: 0;
  border: 1px solid #ddd;
  margin-top: 5px; }
.wp-travel-tabs-wrap .addnewlabel.button {
  float: right; }

.select2-results__option[aria-selected=true] {
  display: none; }

.table-booking-info table {
  width: 100%;
  padding: 10px;
  border: 1px solid #eee;
  background: #fcfcfc; }
  .table-booking-info table th {
    padding: 5px 10px;
    text-align: left; }
  .table-booking-info table td {
    padding: 5px 10px;
    text-align: left; }

.wp-travel-field-wrap label {
  font-weight: bold; }
  .wp-travel-field-wrap label a .dashicons.dashicons-editor-help {
    color: #868484;
    text-decoration: none; }

/*# sourceMappingURL=wp-travel-back-end.css.map */
