.wp-travel-trip-details {
  margin: 20px 0;
  position: relative; }
  .wp-travel-trip-details .wp-travel-trip-code, .wp-travel-trip-details .wp-travel-trip-detail {
    font-weight: 700;
    margin-bottom: 10px; }

.wp-travel-gallery {
  display: block;
  position: relative;
  margin: 0 0 20px 0; }
  .wp-travel-gallery:before, .wp-travel-gallery:after {
    content: "";
    display: table; }
  .wp-travel-gallery:after {
    clear: both; }
  .wp-travel-gallery ul {
    margin: 0 !important;
    padding: 0 !important; }
    .wp-travel-gallery ul li {
      list-style: none;
      float: left;
      margin-right: 15px;
      margin-bottom: 20px;
      padding: 5px;
      background: #f8f8f8;
      width: calc(33.33% - 15px); }
      .wp-travel-gallery ul li:nth-of-type(3n) {
        margin-right: 0;
        width: 33.33%; }
      .wp-travel-gallery ul li:nth-of-type(3n):after {
        clear: both; }
      .wp-travel-gallery ul li:first-child {
        margin-left: 0; }
    .wp-travel-gallery ul a {
      display: block; }
    .wp-travel-gallery ul img {
      width: 100%;
      display: block;
      margin: 0; }

.entry-content .wp-travel-trip-include ul, .entry-content .wp-travel-trip-exclude ul {
  margin-left: 20px; }

.wp-travel-tab-wrapper .tab-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  border-top: 1px solid rgba(221, 221, 221, 0.12);
  font-size: 0;
  text-align: center;
  background: #f8f8f8; }
  .wp-travel-tab-wrapper .tab-list:before:before, .wp-travel-tab-wrapper .tab-list:before:after, .wp-travel-tab-wrapper .tab-list:after:before, .wp-travel-tab-wrapper .tab-list:after:after {
    content: "";
    display: table; }
  .wp-travel-tab-wrapper .tab-list:before:after, .wp-travel-tab-wrapper .tab-list:after:after {
    clear: both; }
  .wp-travel-tab-wrapper .tab-list li {
    background: none;
    color: #333;
    display: inline-block;
    padding: 25px 37px;
    cursor: pointer;
    border-right: 1px solid rgba(221, 221, 221, 0.32);
    font-size: 15px; }
    .wp-travel-tab-wrapper .tab-list li:last-child {
      border-right: none; }
    .wp-travel-tab-wrapper .tab-list li.current-content {
      background: #fff;
      color: #f83531; }
.wp-travel-tab-wrapper .tab-list-content {
  display: none;
  background: #fff;
  padding: 20px 30px; }
  .wp-travel-tab-wrapper .tab-list-content.current-content {
    display: inherit; }

.wp-travel.trip-headline-wrapper:after, .wp-travel.trip-headline-wrapper:before {
  clear: both;
  display: table;
  content: ""; }

.wp-travel.trip-headline-wrapper {
  position: relative; }
  .wp-travel.trip-headline-wrapper:before:before, .wp-travel.trip-headline-wrapper:before:after, .wp-travel.trip-headline-wrapper:after:before, .wp-travel.trip-headline-wrapper:after:after {
    content: "";
    display: table; }
  .wp-travel.trip-headline-wrapper:before:after, .wp-travel.trip-headline-wrapper:after:after {
    clear: both; }
  .wp-travel.trip-headline-wrapper .featured-side-image.left-plot, .wp-travel.trip-headline-wrapper .featured-detail-section.right-plot {
    float: left;
    width: 50%;
    background: #cecece;
    height: 400px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    overflow: hidden; }
    .wp-travel.trip-headline-wrapper .featured-side-image.left-plot img, .wp-travel.trip-headline-wrapper .featured-detail-section.right-plot img {
      height: 100%;
      width: 100%;
      margin: 0; }
  .wp-travel.trip-headline-wrapper .featured-detail-section.right-plot {
    background: none;
    padding: 25px 30px;
    overflow: visible;
    text-align: center; }
  .wp-travel.trip-headline-wrapper .trip-price, .wp-travel.trip-headline-wrapper .trip-short-desc {
    position: relative;
    margin-bottom: 30px; }
  .wp-travel.trip-headline-wrapper .trip-price span {
    font-weight: 700;
    font-size: 25px; }
  .wp-travel.trip-headline-wrapper .wp-travel-trip-meta-info ul {
    margin: 0;
    padding: 0; }
    .wp-travel.trip-headline-wrapper .wp-travel-trip-meta-info ul li {
      padding: 0 30px 5px;
      display: inline-block;
      vertical-align: top;
      width: 50%;
      margin-right: -.25em;
      margin-bottom: 15px;
      font-size: 16px;
      position: relative;
      text-align: left; }
      .wp-travel.trip-headline-wrapper .wp-travel-trip-meta-info ul li:before {
        content: '';
        position: absolute;
        left: 30px;
        right: 30px;
        bottom: 0;
        height: 1px;
        background: rgba(222, 222, 222, 0.32); }
      .wp-travel.trip-headline-wrapper .wp-travel-trip-meta-info ul li .travel-info {
        margin-bottom: 5px; }

.wp-travel.trip-headline-wrapper .wp-travel-book-now .wp-book-btn {
  padding: 10px 50px;
  font-size: 22px;
  width: 50%; }

.wp-travel-review-count {
  margin-bottom: 15px; }

.wp-tab-review-inner-wrapper {
  margin-bottom: 20px;
  list-style: none;
  clear: both;
  border: 1px solid #f9f9f9;
  background: #fcfcfc;
  padding: 10px; }
  .wp-tab-review-inner-wrapper:before, .wp-tab-review-inner-wrapper:after {
    clear: both;
    display: block;
    content: ""; }
    .wp-tab-review-inner-wrapper:before:before, .wp-tab-review-inner-wrapper:before:after, .wp-tab-review-inner-wrapper:after:before, .wp-tab-review-inner-wrapper:after:after {
      content: "";
      display: table; }
    .wp-tab-review-inner-wrapper:before:after, .wp-tab-review-inner-wrapper:after:after {
      clear: both; }
  .wp-tab-review-inner-wrapper p.meta-items {
    margin-bottom: 15px; }
    .wp-tab-review-inner-wrapper p.meta-items time {
      display: block; }
  .wp-tab-review-inner-wrapper .wp-travel-star-rating {
    float: right;
    font-size: .875em;
    line-height: 1;
    overflow: hidden;
    position: relative;
    width: auto;
    font-family: star;
    font-weight: 400; }
  .wp-tab-review-inner-wrapper .author-img-wrapper img {
    width: 9.0909090909%;
    float: left;
    margin-right: 9.0909090909%;
    height: auto;
    margin-bottom: 0;
    border-radius: 3px; }
  .wp-tab-review-inner-wrapper .review-content-wrapper {
    width: 81.8181818182%;
    float: right;
    margin-right: 0; }

.wp-travel-form-review {
  background: #fcfcfc;
  border: 1px solid #f9f9f9;
  width: 65%;
  margin: 0 auto;
  padding: 25px; }
  .wp-travel-form-review p.comment-form-rating {
    margin-bottom: 5px; }
  .wp-travel-form-review p.comment-form-author, .wp-travel-form-review p.comment-form-email {
    width: calc(50% - 5px);
    float: left;
    display: inline-block;
    margin-right: 10px; }
  .wp-travel-form-review p.comment-form-email {
    margin-right: 0; }
  .wp-travel-form-review input[type="text"], .wp-travel-form-review input[type="email"] {
    width: 100%;
    padding: 10px 5px; }
  .wp-travel-form-review .comment-form-comment textarea {
    overflow: auto;
    padding-left: 5px;
    vertical-align: top;
    width: 100%; }

/*# sourceMappingURL=wp-travel-front-end.css.map */
