@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?iwok1p");
  src: url("../fonts/icomoon.eot?iwok1p#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?iwok1p") format("truetype"), url("../fonts/icomoon.woff?iwok1p") format("woff"), url("../fonts/icomoon.svg?iwok1p#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-logo .path1:before {
  content: "\e900";
  color: #d42727; }
.icon-logo .path2:before {
  content: "\e901";
  margin-left: -1.0341796875em;
  color: white; }
.icon-logo .path3:before {
  content: "\e902";
  margin-left: -1.0341796875em;
  color: #d42727; }

.wp-travel-clean-metabox {
  background: #f7f7f1;
  overflow: hidden; }
  .wp-travel-clean-metabox .handlediv.button-link {
    display: none; }
  .wp-travel-clean-metabox .hndle {
    display: none; }
  .wp-travel-clean-metabox .inside {
    margin: 0 !important;
    padding: 0; }

.wp-travel-open-upload-area #plupload-upload-ui.drag-drop #drag-drop-area {
  border: 4px dashed #b4b9be;
  height: 200px; }
  .wp-travel-open-upload-area #plupload-upload-ui.drag-drop #drag-drop-area .drag-drop-inside {
    margin: 47px auto 0;
    width: 500px; }
    .wp-travel-open-upload-area #plupload-upload-ui.drag-drop #drag-drop-area .drag-drop-inside p.drag-drop-buttons {
      margin: 10px 0 0;
      text-align: left;
      position: relative;
      top: 0;
      left: 0; }
.wp-travel-open-upload-area #plupload-upload-ui p.upload-flash-bypass {
  display: none; }
.wp-travel-open-upload-area #plupload-upload-ui a.wp-travel-open-uploader.button {
  display: inline-block;
  position: absolute;
  margin: 0 auto;
  left: 280px;
  right: 0;
  max-width: 230px;
  top: 117px;
  text-align: center;
  width: 100%; }
.wp-travel-open-upload-area #plupload-upload-ui .wp-travel-upload-progress-bar {
  display: none;
  width: 100%;
  position: relative;
  height: 10px;
  width: 100%;
  margin: 10px auto;
  border-radius: 10px;
  background: #dfdfdf;
  background: rgba(0, 0, 0, 0.1); }
  .wp-travel-open-upload-area #plupload-upload-ui .wp-travel-upload-progress-bar .wp-travel-upload-progress-bar-inner {
    height: 10px;
    min-width: 20px;
    width: 0;
    background: #aaa;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    -webkit-transition: width 300ms;
    -moz-transition: width 300ms;
    -ms-transition: width 300ms;
    -o-transition: width 300ms;
    transition: width 300ms; }
  .wp-travel-open-upload-area #plupload-upload-ui .wp-travel-upload-progress-bar .wp-travel-upload-progress-bar-status {
    clear: both;
    position: absolute;
    right: 0;
    width: 50%;
    height: 30px;
    margin: 12px 0 0;
    text-align: right; }

body.post-type-itineraries .wp-travel-open-upload-area .button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 0 16px 1px;
  height: 33px;
  line-height: 30px;
  text-decoration: none;
  text-shadow: none;
  font-weight: 600;
  -webkit-box-shadow: none;
  box-shadow: none; }

.trip-info-sidebar td {
  padding: 15px 5px;
  width: 50%;
  min-width: 65px; }
  .trip-info-sidebar td input, .trip-info-sidebar td .wp-travel-form-field select, .wp-travel-form-field .trip-info-sidebar td select, .trip-info-sidebar td .wp-travel-form-field .stat-toolbar-form .field-group input, .wp-travel-form-field .stat-toolbar-form .field-group .trip-info-sidebar td input, .trip-info-sidebar td .stat-toolbar-form .field-group .wp-travel-form-field input, .stat-toolbar-form .field-group .wp-travel-form-field .trip-info-sidebar td input, .trip-info-sidebar td .wp-travel-form-field textarea, .wp-travel-form-field .trip-info-sidebar td textarea {
    width: 100%; }

.postbox table.form-table h4 {
  margin: 0 0 20px; }

.wp-trave-settings-warp .wp-trave-settings-form-warp .wp-travel-tabs-wrap {
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  margin: 20px 0; }
.wp-trave-settings-warp .wp-travel-setting-buttons {
  text-align: right; }
.wp-trave-settings-warp .wp-travel-setting-system-info {
  float: left; }
  .wp-trave-settings-warp .wp-travel-setting-system-info a {
    text-decoration: none; }
.wp-trave-settings-warp .form-table td p.description {
  font-size: 13px; }
.wp-trave-settings-warp .form-table td input, .wp-trave-settings-warp .form-table td .wp-travel-form-field select, .wp-travel-form-field .wp-trave-settings-warp .form-table td select, .wp-trave-settings-warp .form-table td .wp-travel-form-field textarea, .wp-travel-form-field .wp-trave-settings-warp .form-table td textarea {
  width: 300px; }
  .wp-trave-settings-warp .form-table td input[type='range'], .wp-trave-settings-warp .form-table td .wp-travel-form-field select[type='range'], .wp-travel-form-field .wp-trave-settings-warp .form-table td select[type='range'], .wp-trave-settings-warp .form-table td .wp-travel-form-field textarea[type='range'], .wp-travel-form-field .wp-trave-settings-warp .form-table td textarea[type='range'] {
    display: block; }
  .wp-trave-settings-warp .form-table td input[type='checkbox'], .wp-trave-settings-warp .form-table td .wp-travel-form-field select[type='checkbox'], .wp-travel-form-field .wp-trave-settings-warp .form-table td select[type='checkbox'], .wp-trave-settings-warp .form-table td .wp-travel-form-field textarea[type='checkbox'], .wp-travel-form-field .wp-trave-settings-warp .form-table td textarea[type='checkbox'] {
    width: inherit; }

.itineraries-tax-wrap {
  border: 1px solid #f1f1f1;
  margin: 0 0 40px;
  padding: 10px 10px 10px 20px; }

.wp-travel-form-field {
  width: 45%;
  display: inline-block;
  margin-bottom: 15px;
  padding: 0 15px;
  vertical-align: top;
  position: relative; }
  .wp-travel-form-field.full-width {
    width: calc(90% + 32px); }
  @media (max-width: 992px) {
    .wp-travel-form-field {
      width: 95%; } }
  .wp-travel-form-field.hide-in-admin {
    display: none; }
  .wp-travel-form-field label {
    margin-bottom: 5px;
    display: block; }
  .wp-travel-form-field input, .wp-travel-form-field select, .wp-travel-form-field .stat-toolbar-form .field-group input, .stat-toolbar-form .field-group .wp-travel-form-field input, .wp-travel-form-field textarea {
    width: 100%;
    color: #32373c;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 10px;
    height: 38px;
    font-weight: 300;
    box-shadow: none;
    font-family: arial; }
    .wp-travel-form-field input[readonly="readonly"], .wp-travel-form-field select[readonly="readonly"], .wp-travel-form-field textarea[readonly="readonly"] {
      background: #fff; }
    .wp-travel-form-field input[type="radio"], .wp-travel-form-field select[type="radio"], .wp-travel-form-field textarea[type="radio"] {
      width: 16px;
      height: 16px;
      border-color: inherit; }
  .wp-travel-form-field select, .wp-travel-form-field .stat-toolbar-form .field-group input, .stat-toolbar-form .field-group .wp-travel-form-field input, .stat-toolbar-form .field-group .wp-travel-form-field select, .wp-travel-form-field .stat-toolbar-form .field-group select, .stat-toolbar-form .field-group .wp-travel-form-field textarea, .wp-travel-form-field .stat-toolbar-form .field-group textarea {
    cursor: pointer; }
  .wp-travel-form-field textarea {
    height: auto; }
  .wp-travel-form-field .wp-travel-field-before.wp-travel-currency-symbol {
    position: absolute;
    top: 33px;
    left: 0px; }

.wp-travel-tabs-wrap #date_pax {
  margin: 10px 0 15px; }
  .wp-travel-tabs-wrap #date_pax:after, .wp-travel-tabs-wrap #date_pax:before {
    content: "";
    display: table;
    clear: both; }
  .wp-travel-tabs-wrap #date_pax table td.total_booked {
    text-align: center; }
  .wp-travel-tabs-wrap #date_pax table .cross-out.button {
    display: block;
    margin: 0 auto;
    background: #e40808;
    border: none;
    color: #fff;
    width: 100%; }
    .wp-travel-tabs-wrap #date_pax table .cross-out.button:hover {
      background: #b31919; }
  .wp-travel-tabs-wrap #date_pax table tbody td {
    border-bottom: 1px solid #f1f1f1;
    padding: 7px 0; }
.wp-travel-tabs-wrap .select2-container .select2-selection--multiple {
  border-radius: 0;
  border: 1px solid #ddd;
  margin-top: 5px; }
.wp-travel-tabs-wrap .addnewlabel.button {
  float: right; }

.table-booking-info table {
  width: 100%;
  padding: 10px;
  border: 1px solid #eee;
  background: #fcfcfc; }
  .table-booking-info table th {
    padding: 5px 10px;
    text-align: left; }
  .table-booking-info table td {
    padding: 5px 10px;
    text-align: left; }

.wp-travel-field-wrap label {
  font-weight: bold; }
  .wp-travel-field-wrap label a .dashicons.dashicons-editor-help {
    color: #868484;
    text-decoration: none; }

.wp-travel-view-bookings {
  float: right; }

.left-block,
.right-block {
  position: relative;
  float: left;
  min-height: 1px;
  box-sizing: border-box;
  margin-right: 15px; }

.left-block {
  width: calc( 75% - 15px); }

.right-block {
  width: calc( 25% - 15px);
  text-align: center;
  border: 1px solid #E0E0E0;
  background: #fff; }
  .right-block div {
    border-bottom: 1px solid #E0E0E0;
    padding: 20px 50px 0; }
    .right-block div big {
      font-size: 38px; }
    .right-block div p {
      color: #888; }
    .right-block div a {
      text-decoration: none; }

.stat-toolbar-form {
  display: flex;
  flex-wrap: wrap;
  width: calc( 100% + 20px);
  margin-left: -10px;
  margin-right: -10px; }
  .stat-toolbar-form .field-group {
    padding: 0 10px;
    width: calc( 25% - 25px);
    box-sizing: border-box;
    position: relative; }
    .stat-toolbar-form .field-group .field-label {
      cursor: pointer; }
    .stat-toolbar-form .field-group select, .stat-toolbar-form .field-group input, .stat-toolbar-form .field-group .wp-travel-form-field textarea, .wp-travel-form-field .stat-toolbar-form .field-group textarea {
      width: 100%; }
    .stat-toolbar-form .field-group input[readonly], .stat-toolbar-form .field-group .wp-travel-form-field select[readonly], .wp-travel-form-field .stat-toolbar-form .field-group select[readonly], .stat-toolbar-form .field-group .wp-travel-form-field textarea[readonly], .wp-travel-form-field .stat-toolbar-form .field-group textarea[readonly] {
      background: #fff; }
    .stat-toolbar-form .field-group .input-group-addon {
      position: absolute;
      right: 10px;
      top: 25px; }
      .stat-toolbar-form .field-group .input-group-addon .dashicons {
        font-size: 16px; }
  .stat-toolbar-form .show-all {
    padding-left: 20px; }
  .stat-toolbar-form .btn.btn-show-all {
    background: #0073aa;
    padding: 6px 8px;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 18px;
    float: right;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out; }
    .stat-toolbar-form .btn.btn-show-all:hover {
      background: #006799;
      box-shadow: 0px 0px 20px 0px #0067994a; }

#wp-travel-booking-canvas {
  background: #fff;
  border: 1px solid #E0E0E0;
  margin-bottom: 35px; }

.wp-travel-more a.morelink {
  text-decoration: none;
  outline: none; }
.wp-travel-more .morecontent span {
  display: none; }

.form-table th {
  font-weight: normal; }

.wp-travel-status {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 5px;
  color: #fff; }

.wp-pointer-content .changes-list {
  padding: 0 20px; }
  .wp-pointer-content .changes-list li {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px; }

.wp-collapse-open span {
  float: right;
  padding: 5px 15px;
  position: relative;
  cursor: pointer; }
  .wp-collapse-open span:before {
    font-family: dashicons;
    position: absolute;
    right: -5px;
    font-size: 18px; }
.wp-collapse-open .open-all:before {
  content: "\f134"; }
.wp-collapse-open .close-all:before {
  content: "\f333"; }

.tab-accordion .heading-accordion {
  border: 1px solid #ddd;
  padding: 10px 15px 10px 45px;
  background-color: #f7f7f1;
  position: relative;
  cursor: pointer;
  outline: none;
  margin-bottom: 5px; }
  .tab-accordion .heading-accordion .toggle-indicator {
    position: absolute;
    right: 50px;
    top: 10px; }
    .tab-accordion .heading-accordion .toggle-indicator:before {
      content: "\f139";
      font-family: dashicons;
      font-size: 16px;
      position: relative;
      left: -1px; }
    .tab-accordion .heading-accordion .toggle-indicator:focus {
      border-radius: 50%;
      box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
      width: 20px;
      height: 20px;
      text-align: center;
      outline: none; }
  .tab-accordion .heading-accordion .wp-travel-accordion-title {
    padding: 3px 0;
    display: inline-block; }
  .tab-accordion .heading-accordion.ui-state-active {
    background-color: #fff; }
    .tab-accordion .heading-accordion.ui-state-active .toggle-indicator:before {
      content: "\f140"; }
  .tab-accordion .heading-accordion .hover-icon {
    opacity: 0;
    position: absolute;
    right: 15px;
    top: 11px;
    color: #ca4a1f; }
  .tab-accordion .heading-accordion input, .tab-accordion .heading-accordion .wp-travel-form-field select, .wp-travel-form-field .tab-accordion .heading-accordion select, .tab-accordion .heading-accordion .wp-travel-form-field textarea, .wp-travel-form-field .tab-accordion .heading-accordion textarea {
    display: none; }
.tab-accordion .ui-state-hover .hover-icon {
  opacity: 1; }
.tab-accordion .ui-state-hover input, .tab-accordion .ui-state-hover .wp-travel-form-field select, .wp-travel-form-field .tab-accordion .ui-state-hover select, .tab-accordion .ui-state-hover .wp-travel-form-field textarea, .wp-travel-form-field .tab-accordion .ui-state-hover textarea {
  display: block;
  line-height: 16px;
  font-size: 14px;
  margin: 0;
  min-width: 50%; }
.tab-accordion .ui-state-hover .wp-travel-accordion-title {
  display: none; }
.tab-accordion .ui-accordion-content {
  padding: 0;
  position: relative;
  clear: both;
  border: 1px solid #ddd;
  height: auto !important;
  background: #fff; }
.tab-accordion textarea {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: -4px; }

.wp-travel-tabs-contents .wp-travel-sorting-handle {
  background: #ddd;
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 100%;
  z-index: 1;
  cursor: move; }
  .wp-travel-tabs-contents .wp-travel-sorting-handle:before {
    content: "\f545";
    font-size: 16px;
    font-family: dashicons;
    position: absolute;
    left: 8px;
    top: 13px;
    z-index: 2;
    color: #666;
    cursor: move; }
.wp-travel-tabs-contents .wp-travel-sorting-tabs li {
  position: relative;
  border: 1px solid #ddd;
  padding: 5px 15px 5px 35px;
  background-color: #f7f7f1;
  cursor: pointer;
  outline: none;
  margin-bottom: 5px; }
  .wp-travel-tabs-contents .wp-travel-sorting-tabs li .wp-travel-sorting-handle {
    width: 35px; }
    .wp-travel-tabs-contents .wp-travel-sorting-tabs li .wp-travel-sorting-handle:before {
      left: 8px;
      top: 10px;
      font-size: 16px; }
  .wp-travel-tabs-contents .wp-travel-sorting-tabs li .wp-travel-sorting-tabs-wrap {
    padding-left: 10px; }
    .wp-travel-tabs-contents .wp-travel-sorting-tabs li .wp-travel-sorting-tabs-wrap .wp_travel_tabs_input-field {
      display: none; }
    .wp-travel-tabs-contents .wp-travel-sorting-tabs li .wp-travel-sorting-tabs-wrap:hover .wp-travel-tab-label {
      display: none; }
    .wp-travel-tabs-contents .wp-travel-sorting-tabs li .wp-travel-sorting-tabs-wrap:hover .wp_travel_tabs_input-field {
      display: inline;
      max-width: calc( 33.333% - 15px );
      float: left;
      width: 130px;
      height: 26px; }
  .wp-travel-tabs-contents .wp-travel-sorting-tabs li .wp-travel-tab-label, .wp-travel-tabs-contents .wp-travel-sorting-tabs li .use-global-tab, .wp-travel-tabs-contents .wp-travel-sorting-tabs li .show-in-frontend {
    max-width: 25%;
    width: 100%;
    display: block;
    float: left;
    line-height: 2; }
  .wp-travel-tabs-contents .wp-travel-sorting-tabs li .wp_travel_tabs_input-field {
    margin-right: 15px; }

.wp-travel-faq-quest-button {
  float: right;
  margin: 20px 0; }

@media (max-width: 1024px) {
  .left-block,
  .right-block {
    width: 100%;
    margin-right: 0; }

  .wp-travel-tabs-wrap .wp-travel-tabs-contents .wp-travel-tab-content .wp-travel-open-uploaded-images li {
    width: calc( 50% - 10px); } }
@media (max-width: 767px) {
  .stat-toolbar-form .field-group {
    width: 100%; }
  .stat-toolbar-form .show-all {
    padding-left: 10px; }
  .stat-toolbar-form .btn.btn-show-all {
    top: -15px; } }

/*# sourceMappingURL=wp-travel-back-end.css.map */
