//Calendar Trip date listing
@keyframes arrowAnimate{
    0%{
        transform: translateX(0);
    }
    60%{
        transform: translateX(-5px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes loader{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

//Date Trip date listing
@keyframes arrowAnimate1 {
	0% {
		transform: translateY(0);
	}
	60% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}

