$wp-travel-background: rgb(240 240 241);
$wp-travel-white: rgb(255, 255, 255);
$wp-travel-light: rgb(250, 250, 250);
// $wp-travel-light-green: rgba(116, 201, 124, 0.388);
$wp-travel-green: rgb(7, 152, 18);
$wp-travel-green-hover: rgb(81, 190, 90);
$wp-travel-light-green: rgb(236 248 244);
// $wp-travel-green: rgb(31, 150, 75);
$wp-travel-faded: rgb(121, 136, 158);
$wp-travel-active: rgb(30, 41, 59);
$wp-travel-active-background: rgb(235, 235, 235);
$wp-travel-inactive: rgb(66, 78, 98);
$wp-travel-ash: rgb(204, 204, 204);
$wp-travel-alice-blue: rgb(223, 229, 236);
$wp-travel-warning: rgb(243, 153, 34);
$wp-travel-danger: rgb(200, 42, 42);
$wp-travel-success: rgb(7, 152, 18);
$wp-travel-shadow: rgba(0, 0, 0, 0.1);
$wp-travel-backdrop: rgba(100, 100, 100, 0.7);

.wp-admin.itinerary-booking_page_settings, .wp-admin.toplevel_page_wp_travel_network_settings {
	@import "../../sass/block-tabs";
	#wpwrap {
		#wp-travel-search-modal-wrapper {
			display: flex;
			justify-content: center;
			position: fixed;
			margin: auto;
			top: 0;
			left: 0;
			right: 0;
			z-index: 99999;
			transition: all 0.2s ease-in-out;

			input:focus,
			select:focus,
			textarea:focus {
				box-shadow: unset;
			}

			.wp-travel-search-modal-menu {
				position: relative;
				min-width: 300px;
				overflow: hidden;
				width: 400px;
				border-radius: 0.75rem;
				top: 150px;
				margin: 1rem;
				background: $wp-travel-white;
				max-width: 500px;
				z-index: 1;
			}

			.wp-travel-search-modal-backdrop {
				bottom: 0;
				left: 0;
				top: 0;
				right: 0;
				position: fixed;
				background-color: $wp-travel-backdrop;
				-webkit-backdrop-filter: blur(5px);
				backdrop-filter: blur(5px);
			}
		}
	}

	#wpcontent {
		padding: 0;
	}

	.wp-core-ui select:focus {
		border-color: $wp-travel-green;
		color: $wp-travel-green;
		box-shadow: 0 0 0 1px $wp-travel-green;
	}

	/* Range Control */
	.css-ch8uh6 {
		border-radius: 50%;
		background-color: $wp-travel-green;
	}

	.css-yqdrrs {
		background-color: $wp-travel-green;
	}

	.css-1ecqyaz {
		color: $wp-travel-green;
	}

	.css-nn7rs3 {
		background-color: $wp-travel-green;

		&::before {
			background-color: $wp-travel-green;
		}
	}

	.components-form-token-field__token {
		border-radius: 0.5rem;
		overflow: hidden;
	}

	.components-form-token-field__remove-token.components-button {
		&:hover {
			cursor: pointer;
			color: $wp-travel-danger;
		}
	}

	.components-form-token-field__input-container {
		box-shadow: 0 0 0 transparent;
		transition: box-shadow 0.1s linear;
		border-radius: 0.5rem;
		border: 1px solid $wp-travel-ash;
		font-size: 16px;
		background: $wp-travel-white;
		line-height: normal;
		width: 100%;
		margin: 0 0 8px;
		padding: 0.25rem;
		cursor: text;
	}

	.components-form-token-field__input-container.is-active {
		border-color: $wp-travel-green;
		box-shadow: 0 0 0 1px $wp-travel-green;
		outline: 2px solid transparent;
	}

	.components-checkbox-control__input-container {
		.components-checkbox-control__input[type="checkbox"] {
			border-color: $wp-travel-green;
		}

		.components-checkbox-control__input[type="checkbox"]:checked,
		.components-checkbox-control__input[type="checkbox"]:indeterminate {
			background: $wp-travel-green;
			border-color: transparent;
		}

		.components-checkbox-control__input[type="checkbox"]:focus {
			border-color: $wp-travel-green;
			box-shadow: 0 0 0 2px #fff, 0 0 0 4px $wp-travel-green;
			outline: 2px solid transparent;
		}
	}
	svg.components-checkbox-control__checked,
	svg.components-checkbox-control__indeterminate {
		left: -4px;
		top: -4px;
	}
	.wp-core-ui .button,
	.wp-core-ui .button-secondary {
		color: $wp-travel-green;
		border-color: $wp-travel-green;
		background: #f6f7f7;
		vertical-align: top;
	}
	#field-editor-popup-form {
		.wp-travel-form-field {
			.components-input-control__container {
				border-radius: 0.5rem;

				.components-select-control__input {
					height: auto !important;
					min-height: 40px;
				}

				.components-input-control__backdrop {
					border-radius: 0.5rem;
					border-color: $wp-travel-ash;
					padding: 0.75rem 0.5rem;
				}

				.css-u4zy6z.css-u4zy6z.css-u4zy6z {
					box-shadow: 0 0 0 1px $wp-travel-green inset;
					border-color: $wp-travel-green;
				}

				.components-input-control__suffix {
					color: $wp-travel-ash;
				}
			}

			.components-base-control {
				display: flex;
				justify-content: flex-end;
				width: 100% !important;
				flex-direction: column;
			}

			.components-color-picker {
				width: 100%;
				border-radius: 0.5rem;
				max-width: 250px;
				box-shadow: 0 1px 3px $wp-travel-shadow;
				overflow: hidden;

				.react-colorful {
					width: 100%;
				}
			}

			.components-base-control .components-base-control__field {
				width: 100%;
				border-radius: 0.25rem;
				margin-bottom: 0 !important;
			}

			.components-base-control__field {
				.components-flex {
					display: flex;
					justify-content: flex-end;
				}

				.components-textarea-control__input {
					border: 1px solid $wp-travel-ash;
					padding: 0.5rem;
					border-radius: 0.5rem;

					&:focus {
						border: 1px solid $wp-travel-green;
						box-shadow: 0 0 0 1px $wp-travel-green;
						outline: inherit;
					}
				}
			}

			.components-base-control__field .components-text-control__input {
				border: 1px solid $wp-travel-ash;
				padding: 0.5rem;
				border-radius: 0.5rem;

				&:focus {
					border: 1px solid $wp-travel-green;
					box-shadow: 0 0 0 1px $wp-travel-green;
					outline: inherit;
				}
			}

			.components-form-toggle .components-form-toggle__track {
				content: "";
				display: inline-block;
				box-sizing: border-box;
				vertical-align: top;
				background-color: $wp-travel-ash;
				border: 1px solid $wp-travel-ash;
				border-radius: 1rem;
				width: 3rem;
				height: 1.5rem;
				transition: all 0.2s ease;
			}

			.components-form-toggle.is-checked .components-form-toggle__track {
				background-color: $wp-travel-green;
				border: 9px solid transparent;
			}

			.components-form-toggle
				.components-form-toggle__input:focus
				+ .components-form-toggle__track {
				box-shadow: 0 0 0 2px #fff, 0 0 0 4px $wp-travel-green;
				outline: 2px solid transparent;
				outline-offset: 3px;
			}

			.components-form-toggle .components-form-toggle__thumb {
				display: block;
				position: absolute;
				box-sizing: border-box;
				top: 2px;
				left: 2px;
				width: 1.25rem;
				height: 1.25rem;
				border-radius: 50%;
				transition: transform 0.1s ease;
				background-color: $wp-travel-white;
				border: none;
				box-shadow: 0 1px 3px $wp-travel-shadow;
			}

			.components-form-toggle.is-checked .components-form-toggle__thumb {
				background-color: #fff;
				border-width: 0;
				transform: translateX(1.5rem);
			}

			.components-radio-control__input[type="radio"] {
				&:focus {
					box-shadow: 0 0 0 2px #fff, 0 0 0 4px $wp-travel-green;
					outline: 2px solid transparent;
				}
				&:checked {
					background: $wp-travel-green;
					border-color: $wp-travel-green;

					&:before {
						transform: translate(5px, 5px);
					}
				}
			}

			.components-form-toggle input[type="checkbox"]:focus,
			input[type="color"]:focus,
			input[type="date"]:focus,
			input[type="datetime-local"]:focus,
			input[type="datetime"]:focus,
			input[type="email"]:focus,
			input[type="month"]:focus,
			input[type="number"]:focus,
			input[type="password"]:focus,
			input[type="radio"]:focus,
			input[type="search"]:focus,
			input[type="tel"]:focus,
			input[type="text"]:focus,
			input[type="time"]:focus,
			input[type="url"]:focus,
			input[type="week"]:focus,
			select:focus,
			textarea:focus {
				border: none;
				box-shadow: none;
				outline: 2px solid transparent;
			}

			.components-button.is-secondary {
				color: $wp-travel-green;
				border-radius: 0.5rem;
				box-shadow: inset 0 0 0 1px $wp-travel-green;
			}
			.components-base-control {
				.components-base-control__field {
					.components-select-control {
						.components-input-control__container {
							border-radius: 0.5rem;

							.components-select-control__input {
								height: auto !important;
								min-height: 40px !important;
							}

							.components-input-control__backdrop {
								border-radius: 0.5rem;
								border-color: $wp-travel-ash;
								padding: 0.75rem 0.5rem;

								&:focus {
									border: none;
								}
							}

							.components-input-control__suffix {
								color: $wp-travel-ash;
							}
						}
					}
				}
			}
		}
		.components-button.is-secondary {
			box-shadow: inset 0 0 0 1px $wp-travel-green;
			border-radius: 0.5rem;
			outline: 1px solid transparent;
		}
		.components-button.is-primary {
			background-color: $wp-travel-green;
			border-radius: 0.5rem;

			&:hover {
				background-color: $wp-travel-green-hover;
			}

			&:focus {
				box-shadow: 0 0 0 2px #fff, 0 0 0 4px $wp-travel-green;
				outline: 2px solid transparent;
				outline-offset: 3px;
			}
		}
	}

	#wpbody-content {
		padding: 0;
		box-sizing: border-box;

		#wp-travel-settings-block-wrapper {
			margin-top: 3rem;
			padding-right: 0;
			margin-bottom: 5rem;
			gap: 4rem;
			flex-direction: column;

			#aside-wrap-container {
				display: flex;
				justify-content: center;

				#aside-wrap {
					width: 100%;
					padding: 1rem;
					margin: 0;
					box-sizing: border-box;

					.aside-wrap-buttons-container {
						display: flex;
						flex-direction: column;
						margin-bottom: 2rem;
						background-color: $wp-travel-white;
						border-radius: 0.5rem;
						box-shadow: 0 1px 3px ($wp-travel-shadow);
					}

					.wp-travel-aside-block-button {
						width: 100%;
						display: inline-block;
						border-radius: 0.5rem;
						background-color: $wp-travel-green;
						color: $wp-travel-white;
						padding: 0.5rem 1rem;
						text-decoration: none;
						font-size: 13px;
						max-width: 350px;
						box-shadow: 0 1px 3px $wp-travel-shadow;
						box-sizing: border-box;

						&.fit {
							width: fit-content;
							max-width: fit-content;
						}

						&:hover {
							background-color: $wp-travel-green-hover;
						}
					}

					#wp_travel_support_block_id {
						width: 100%;
					}

					#wp_travel_doc_block_id {
						width: 100%;
					}

					#wp_travel_review_block_id {
						border-radius: 0.5rem;
						background-color: $wp-travel-white;
						box-shadow: 0 1px 3px $wp-travel-shadow;
						overflow: hidden;

						.thumbnail {
							padding: 1rem;

							.wp-travel-anchor {
								color: $wp-travel-green;
							}

							&.last {
								display: flex;
								flex-direction: column;
								align-items: center;
							}
						}
					}

					.wp-travel-aside-wrap-block-title {
						margin: 0;
						padding: 1rem;
						border-bottom: 1px solid $wp-travel-background;
						text-align: center;
					}

					.wp-travel-aside-help-block {
						padding: 1rem;
					}
				}
			}
		}

		.wp-travel-ui.wp-travel-ui-card {
			padding: 0;
			margin: 0;

			h2 {
				display: none;
			}
		}

		.wp-travel-select__menu {
			z-index: 1000;
		}

		.button-primary {
			background-color: $wp-travel-green;
			border-color: $wp-travel-green;
			border-radius: 0.5rem;

			&:hover {
				background-color: $wp-travel-green-hover;
				border-color: $wp-travel-green-hover;
			}

			&:focus {
				box-shadow: 0 0 0 1px #fff, 0 0 0 3px $wp-travel-green;
			}
		}

		/* PWA */
		.wp-travel-field-image-container {
			img {
				width: 100px;
				margin-bottom: 1rem;
			}
		}

		.wp-travel-field-value {
			.components-input-control__container {
				border-radius: 0.5rem;

				.components-select-control__input {
					height: auto !important;
					min-height: 40px;
				}

				.components-input-control__backdrop {
					border-radius: 0.5rem;
					border-color: $wp-travel-ash;
					padding: 0.75rem 0.5rem;
				}

				.css-u4zy6z.css-u4zy6z.css-u4zy6z {
					box-shadow: 0 0 0 1px $wp-travel-green inset;
					border-color: $wp-travel-green;
				}

				.components-input-control__suffix {
					color: $wp-travel-ash;
				}
			}

			.components-button.is-primary {
				background-color: $wp-travel-green;
				border-radius: 0.5rem;

				&:hover {
					background-color: $wp-travel-green-hover;
				}

				&:focus {
					box-shadow: 0 0 0 2px #fff, 0 0 0 4px $wp-travel-green;
					outline: 2px solid transparent;
					outline-offset: 3px;
				}
			}

			.components-button.is-secondary {
				display: flex;
				margin: auto;
				margin-left: 0;
			}
		}
		.wp-travel-ui.wp-travel-ui-card {
			border: none;
			padding: 0;
			margin: 0;
		}
	}
}

.wp-admin.itinerary-booking_page_settings, .wp-admin.toplevel_page_wp_travel_network_settings {
	#wpwrap {
		#wp-travel-settings-menu.wp-travel-active {
			display: flex;
			position: fixed;
			top: 0;
			height: 100vh;
			overflow-y: auto;
			z-index: 99999;
		}

		#wp-travel-backdrop {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			background-color: $wp-travel-backdrop;
			z-index: 99999;
			-webkit-backdrop-filter: blur(5px);
			backdrop-filter: blur(5px);
		}

		#wp-travel-settings-menu {
			display: none;
			flex-direction: column;
			align-items: center;
			position: absolute;
			top: 0;
			background-color: $wp-travel-background;
			border-radius: 0;
			padding: 1.5rem;
			height: 100%;
			width: 350px;
			box-shadow: 0px 1px 3px $wp-travel-shadow;
			transition: all 0.25s ease-in-out;

			input:focus,
			select:focus,
			textarea:focus {
				border-color: $wp-travel-green;
				box-shadow: none;
				outline: 2px solid transparent;
			}

			.wp-travel-logo-container {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 1.5rem;
				font-size: 1.5rem;
				font-weight: 600;
				color: $wp-travel-green;

				#wp-travel-logo {
					width: 40px;
					margin-right: 10px;
				}
			}

			.wp-travel-searchbox-container {
				border-radius: 0.5rem;
				max-width: 250px;
				width: 100%;
			}

			.wp-travel-quick-search {
				display: flex;
				align-items: center;
				padding: 0.5rem 0.75rem;
				border: none;
				border-radius: 0.5rem;
				background-color: $wp-travel-white;
				box-shadow: 0 1px 3px 0px $wp-travel-shadow;
				width: 100%;
				min-width: 200px;
				transition: 0.2s ease-in-out;

				.wp-travel-search-icon {
					color: $wp-travel-faded;
					font-size: 1rem;
				}

				#wp-travel-quick-search-text {
					margin-left: 0.25rem;
					font-size: 14px;
					padding: 0.125rem;
					color: $wp-travel-faded;
				}
			}

			.wp-travel-mobile-menu-close {
				position: relative;
				width: 100%;
				margin-bottom: 1rem;

				.wp-travel-icon-close {
					color: $wp-travel-faded;
					font-size: 2.5rem;
				}
			}

			.wp-travel-tabs-container {
				display: flex;
				width: 100%;
				margin-top: 1.5rem;
			}

			.wp-travel-tabs {
				width: 100%;
			}

			.wp-travel-primary-tab-container {
				margin-bottom: 1rem;
			}

			.wp-travel-primary-tab .wp-travel-primary-tab-info {
				display: flex;
				align-items: center;
				gap: 0.85rem;
			}

			.wp-travel-primary-tab .wp-travel-primary-tab-title {
				display: flex;
				margin: 0;
				font-weight: 550;
				font-size: 0.875rem;
				color: $wp-travel-inactive;
			}

			.wp-travel-primary-tab-info .wp-travel-tab-icon {
				font-size: 1rem;
			}

			.wp-travel-primary-tab-container .wp-travel-primary-tab {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0.5rem 1rem;
				border: none;
				border-radius: 0.5rem;
				cursor: pointer;
				color: $wp-travel-faded;
				background-color: transparent;
				width: 100%;

				&:hover {
					background-color: $wp-travel-light;
					color: $wp-travel-inactive;
				}
			}

			.wp-travel-primary-tab-container .wp-travel-primary-tab:focus {
				box-shadow: 0 0 0 2px $wp-travel-green;
			}

			.wp-travel-secondary-tabs-container {
				margin: 0.35rem 0 0 2rem;
			}

			.wp-travel-secondary-tabs-container .wp-travel-secondary-tab {
				padding: 0.5rem 1rem;
				border-radius: 0.5rem;
				margin: 0 0 0.25rem 0;
				cursor: pointer;

				&:hover {
					background-color: $wp-travel-light;
					color: $wp-travel-active;
				}
			}

			.wp-travel-secondary-tabs-container
				.wp-travel-secondary-tab.is-active {
				background-color: rgba($wp-travel-ash, 0.2);
				color: $wp-travel-active;
				border-radius: 0.5rem;
			}
		}

		#wpbody-content {
			.wp-travel-field-value {
				.components-range-control {
					.css-l9lx82 {
						display: block;
						flex: 1 1 0%;
						position: relative;
						width: 100%;
						color: $wp-travel-green;
						height: 30px;
						min-height: 30px;
					}

					.css-10282dw {
						border-radius: 4px;
						height: 4px;
						pointer-events: none;
						display: block;
						position: absolute;
						margin-top: 13px;
						top: 0px;
						background: $wp-travel-green;
					}

					.css-1nzgp6g {
						-webkit-box-align: center;
						align-items: center;
						border-radius: 50%;
						height: 100%;
						outline: 0px;
						position: absolute;
						-webkit-user-select: none;
						user-select: none;
						width: 100%;
						background-color: $wp-travel-green;
					}

					.css-19h143v {
						-webkit-box-align: center;
						align-items: center;
						border-radius: 50%;
						height: 100%;
						outline: 0px;
						position: absolute;
						-webkit-user-select: none;
						user-select: none;
						width: 100%;
						background-color: $wp-travel-green;
					}

					.css-azwfbw {
						-webkit-box-align: center;
						align-items: center;
						display: flex;
						height: 12px;
						-webkit-box-pack: center;
						justify-content: center;
						margin-top: 9px;
						outline: 0px;
						pointer-events: none;
						position: absolute;
						top: 0px;
						-webkit-user-select: none;
						user-select: none;
						width: 12px;
						border-radius: 50%;
						background-color: $wp-travel-green;
						margin-left: -10px;
						transform: translateX(4.5px);
					}
				}
				.components-base-control {
					display: flex;
					justify-content: flex-end;
					width: 100%;
				}

				.components-color-picker {
					width: 100%;
					border-radius: 0.5rem;
					max-width: 250px;
					box-shadow: 0 1px 3px $wp-travel-shadow;
					overflow: hidden;

					.react-colorful {
						width: 100%;
					}
				}
			}

			.components-base-control .components-base-control__field {
				width: 100%;
				border-radius: 0.25rem;
				margin-bottom: 0 !important;
			}

			.components-base-control__field {
				.components-flex {
					display: flex;
					justify-content: flex-start;
				}

				.components-textarea-control__input {
					border: 1px solid $wp-travel-ash;
					padding: 0.5rem;
					border-radius: 0.5rem;

					&:focus {
						border: 1px solid $wp-travel-green;
						box-shadow: 0 0 0 1px $wp-travel-green;
						outline: inherit;
					}
				}
			}

			.components-base-control__field .components-text-control__input {
				border: 1px solid $wp-travel-ash;
				padding: 0.5rem;
				border-radius: 0.5rem;

				&:focus {
					border: 1px solid $wp-travel-green;
					box-shadow: 0 0 0 1px $wp-travel-green;
					outline: inherit;
				}
			}

			.components-form-toggle .components-form-toggle__track {
				content: "";
				display: inline-block;
				box-sizing: border-box;
				vertical-align: top;
				background-color: $wp-travel-ash;
				border: 1px solid $wp-travel-ash;
				border-radius: 1rem;
				width: 3rem;
				height: 1.5rem;
				transition: all 0.2s ease;
			}

			.components-form-toggle.is-checked .components-form-toggle__track {
				background-color: $wp-travel-green;
				border: 9px solid transparent;
			}

			.components-form-toggle
				.components-form-toggle__input:focus
				+ .components-form-toggle__track {
				box-shadow: 0 0 0 2px #fff, 0 0 0 4px $wp-travel-green;
				outline: 2px solid transparent;
				outline-offset: 3px;
			}

			.components-form-toggle .components-form-toggle__thumb {
				display: block;
				position: absolute;
				box-sizing: border-box;
				top: 2px;
				left: 2px;
				width: 1.25rem;
				height: 1.25rem;
				border-radius: 50%;
				transition: transform 0.1s ease;
				background-color: $wp-travel-white;
				border: none;
				box-shadow: 0 1px 3px $wp-travel-shadow;
			}

			.components-form-toggle.is-checked .components-form-toggle__thumb {
				background-color: #fff;
				border-width: 0;
				transform: translateX(1.5rem);
			}

			.components-radio-control__input[type="radio"] {
				&:focus {
					box-shadow: 0 0 0 2px #fff, 0 0 0 4px $wp-travel-green;
					outline: 2px solid transparent;
				}
				&:checked {
					background: $wp-travel-green;
					border-color: $wp-travel-green;

					&:before {
						transform: translate(5px, 5px);
					}
				}
			}

			.components-form-toggle input[type="checkbox"]:focus,
			input[type="color"]:focus,
			input[type="date"]:focus,
			input[type="datetime-local"]:focus,
			input[type="datetime"]:focus,
			input[type="email"]:focus,
			input[type="month"]:focus,
			input[type="number"]:focus,
			input[type="password"]:focus,
			input[type="radio"]:focus,
			input[type="search"]:focus,
			input[type="tel"]:focus,
			input[type="text"]:focus,
			input[type="time"]:focus,
			input[type="url"]:focus,
			input[type="week"]:focus,
			select:focus,
			textarea:focus {
				border: none;
				box-shadow: none;
				outline: 2px solid transparent;
			}

			.components-button.is-secondary {
				color: $wp-travel-green;
				border-radius: 0.5rem;
				box-shadow: inset 0 0 0 1px $wp-travel-green;
			}
			#wp-travel-save-changes-container {
				width: 100%;
				display: flex;
				flex-direction: column;
				box-sizing: border-box;

				.wp-travel-setting-system-info {
					margin-left: 1rem;

					a {
						color: $wp-travel-green;

						&:hover {
							color: $wp-travel-green-hover;
						}

						&:focus {
							outline: none;
							box-shadow: none;
						}
					}

					.dashicons {
						&.dashicons-info {
							margin-right: 0.5rem;
						}
					}
				}

				.wp-travel-save-changes {
					.components-button {
						background-color: $wp-travel-green;
						border: none;
						border-radius: 0.5rem;
						align-items: center;
						justify-content: center;

						&:hover {
							background-color: $wp-travel-green-hover;
							border-color: $wp-travel-green-hover;
						}

						&:focus {
							box-shadow: 0 0 0 1px #fff,
								0 0 0 3px $wp-travel-green;
						}
					}
				}
			}

			.wp-travel-section-content {
				#wp-travel-tabs {
					.components-base-control {
						&.css-qy3gpb {
							&.ej5x27r4 {
								width: 250px;
							}
						}
					}
				}

				#wp-travel-invoice-logo {
					.media-preview {
						display: inline-flex;
						flex-direction: column;
						align-items: flex-start;
						gap: 0.75rem;

						img {
							width: unset;
						}
					}
				}
				.components-panel__body.ws-gateway.gateway-disabled {
					.components-panel__body-title button::before {
						font-family: dashicons;
						content: "\f159";
						font-size: 20px;
						left: 40px;
						margin-right: 1rem;
						color: $wp-travel-ash;
					}
				}
				.wp-travel-block-section {
					&.wp-travel-block-sortable {
						.components-panel__body.ws-gateway.gateway-disabled {
							.components-panel__body-title button::before {
								font-family: dashicons;
								content: "\f159";
								font-size: 20px;
								left: 40px;
								margin-right: 1rem;
								color: $wp-travel-ash;
							}
						}
						.components-panel__body.ws-gateway.gateway-disabled.is-opened {
							.components-panel__body-title button::before {
								color: $wp-travel-white;
							}
							.components-panel__body-title {
								.components-button {
									&.components-panel__body-toggle {
										.components-panel__icon {
											color: $wp-travel-white;
										}
									}
								}
							}
						}
						.components-panel__body.ws-gateway.gateway-enabled {
							.components-panel__body-title button::before {
								font-family: dashicons;
								content: "\f12a";
								font-size: 20px;
								left: 40px;
								margin-right: 1rem;
								color: $wp-travel-green;
							}
						}
						.components-panel__body.ws-gateway.gateway-enabled.is-opened {
							.components-panel__body-title button::before {
								color: $wp-travel-white;
							}
							.components-panel__body-title {
								.components-button {
									&.components-panel__body-toggle {
										.components-panel__icon {
											color: $wp-travel-white;
										}
									}
								}
							}
						}
					}
				}
				.wptravel-ui-content.wptravel-modules {
					.wptravel-modules-list {
						.components-panel__row {
							padding: 2rem 1rem;
							background: transparent;
							border-right: none;
							border-bottom: 1px solid #ccc;
							margin: 0;
						}
					}
				}

				.components-panel__row {
					flex-direction: column;
					align-items: flex-start;

					.wp-travel-field-value {
						width: 100%;

						.description {
							text-align: left;
							font-size: 12px;

							a {
								color: $wp-travel-green;
							}
						}

						.description.warning {
							display: inline-flex;
							align-items: center;
							justify-content: center;
							display: inline-flex;
							align-items: center;
							justify-content: center;
							color: $wp-travel-warning;

							&::before {
								content: "\f534";
								font-family: dashicons;
								color: $wp-travel-warning;
								font-size: 1rem;
								margin-right: 0.25rem;
							}
						}
					}
				}
			}

			.css-yk16xz-control {
				align-items: center;
				background-color: hsl(0, 0%, 100%);
				border-color: $wp-travel-ash;
				border-radius: 4px;
				border-style: solid;
				border-width: 1px;
				cursor: default;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				min-height: 38px;
				outline: 0 !important;
				position: relative;
				transition: all 100ms;
				box-sizing: border-box;
			}

			.wp-travel-main-container {
				display: flex;
				flex-direction: column;
			}

			.wp-travel-settings-container {
				display: flex;
				width: 100%;
			}

			.wp-travel-tabs-container {
				display: flex;
				width: 100%;
				margin-top: 1.5rem;
			}

			.wp-travel-tabs {
				width: 100%;
			}

			.wp-travel-primary-tab-container {
				margin-bottom: 1rem;
			}

			.wp-travel-primary-tab .wp-travel-primary-tab-info {
				display: flex;
				align-items: center;
				gap: 0.85rem;
			}

			.wp-travel-primary-tab .wp-travel-primary-tab-title {
				display: flex;
				margin: 0;
				font-weight: 550;
				font-size: 0.875rem;
				color: $wp-travel-inactive;
			}

			.wp-travel-primary-tab-info .wp-travel-tab-icon {
				font-size: 1rem;
			}

			.wp-travel-primary-tab-container .wp-travel-primary-tab {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0.5rem 1rem;
				border: none;
				border-radius: 0.5rem;
				cursor: pointer;
				color: $wp-travel-faded;
				background-color: transparent;
				width: 100%;

				&:hover {
					background-color: $wp-travel-light;
					color: $wp-travel-inactive;
				}
			}

			.wp-travel-primary-tab-container .wp-travel-primary-tab:focus {
				box-shadow: 0 0 0 2px $wp-travel-green;
			}

			.wp-travel-secondary-tabs-container {
				margin: 0.35rem 0 0 2rem;
			}

			.wp-travel-secondary-tabs-container .wp-travel-secondary-tab {
				padding: 0.5rem 1rem;
				border-radius: 0.5rem;
				margin: 0 0 0.25rem 0;
				cursor: pointer;

				&:hover {
					background-color: $wp-travel-light;
					color: $wp-travel-active;
				}
			}

			.wp-travel-secondary-tabs-container
				.wp-travel-secondary-tab.is-active {
				background-color: rgba($wp-travel-ash, 0.2);
				color: $wp-travel-active;
				border-radius: 0.5rem;
			}

			/* Notices */

			.components-notice {
				display: flex;
				font-size: 13px;
				background-color: $wp-travel-light-green;
				border-left: 4px solid $wp-travel-green;
				padding: 0.75rem 1rem;
				border-radius: 0.5rem;
				align-items: center;
				margin: 0.5rem 0;
			}

			/* ToolTip */

			#wp-travel-tooltip-container {
				display: inline-flex;
				justify-content: flex-end;
				position: relative;
				margin-left: 0.5rem;
				color: $wp-travel-green;
			}

			#wp-travel-tooltip {
				text-align: left;
				border-radius: 0.25rem;
				position: absolute;
				background-color: rgba(black, 0.9);
				color: $wp-travel-white;
				box-shadow: 0 1px 3px $wp-travel-shadow;
				padding: 0.5rem 0.75rem;
				margin-top: 0.25rem;
				left: -5rem;
				top: 1.5rem;
				min-width: 250px;
				max-width: 500px;
				width: fit-content;
				word-break: normal;
				word-wrap: normal;
				overflow-wrap: break-word;
				transition-delay: 500ms;
				z-index: 9999;
			}

			/* Settings section */

			.wp-travel-settings-section-wrapper {
				width: 100%;
			}

			.wp-travel-settings-section {
				display: flex;
				flex-direction: column;
				background-color: $wp-travel-white;
				border-radius: 0.5rem;
				width: 100%;
				box-shadow: 0 1px 3px 0px $wp-travel-shadow;
				position: relative;
				transition: all 0.25s ease-in-out;
			}

			.wp-travel-settings-section .wp-travel-section-header {
				padding: 2rem;
				border-bottom: 1px solid $wp-travel-background;
			}

			.wp-travel-custom-section-header {
				display: flex;
				justify-content: space-between;
			}

			.wp-travel-section-header-label {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin: 0 !important;
			}

			.wp-travel-section-header .wp-travel-section-header-title {
				margin: 0 0 0.25rem 0;
				font-size: 1.3rem;
			}

			.wp-travel-section-header .wp-travel-section-header-description {
				margin: 0 0 0.25rem 0;
				color: $wp-travel-faded;
				font-size: 0.85rem;
				display: none;
			}

			.wp-travel-settings-section {
				.wp-travel-section-content {
					display: flex;
					flex-direction: column;
					padding: 2rem;

					.components-panel__body {
						border: unset;
						border-radius: 0.5rem;
						margin-bottom: 0.5rem;

						.components-panel__body-title {
							border-radius: 0.5rem;
							border: 1px solid $wp-travel-ash;

							&:hover {
								background: $wp-travel-active-background;
							}
						}
					}

					.components-panel__body.is-opened {
						background-color: $wp-travel-light;

						.components-panel__body-title {
							border-radius: 0.5rem 0.5rem 0 0;
							background: $wp-travel-green;
							color: $wp-travel-white;
							border: 1px solid $wp-travel-green;

							.components-panel__body-toggle.components-button {
								color: $wp-travel-white;

								.components-panel__arrow {
									color: $wp-travel-white;
								}
							}
						}
					}

					.components-tab-panel__tab-content {
						.wp-travel-action-section {
							flex-direction: row;
						}
					}

					.wp-travel-license-details {
						.license-details__item {
							margin-bottom: 20px;
							padding: 0;
							background: $wp-travel-white;
							border: none;
						}
					}

					.wp-travel-trip-edit-menu.wp-travel-trip-edit-menu-horizontal.wp-travel-trip-edit-menu-add-gap
						.components-tab-panel__tabs
						button.components-button.active-tab {
						color: $wp-travel-white;
					}
					.components-tab-panel__tabs {
						gap: 0.5rem;
						.components-button.components-tab-panel__tabs-item {
							&:focus {
								background-color: $wp-travel-green-hover;
							}
						}
						.components-button.components-tab-panel__tabs-item.active-tab {
							color: white;
							background-color: $wp-travel-green;
							border-radius: 0.5rem;

							&:hover {
								background-color: $wp-travel-green-hover;
							}
						}
					}

					.components-tab-panel__tabs-item:focus:not(:disabled) {
						box-shadow: inset 0 2px $wp-travel-green;
					}

					.components-tab-panel__tabs-item {
						border-radius: 0.5rem;

						&:hover {
							color: $wp-travel-green-hover;
						}
						&:focus {
							color: $wp-travel-white;
						}
					}
				}
			}

			.wp-travel-settings-section
				.wp-travel-section-content
				.wp-travel-content-setting {
				display: flex;
				justify-content: space-between;
			}

			.wp-travel-content-setting .wp-travel-setting-right {
				display: flex;
				flex-direction: column;
				gap: 0.25rem;
				max-width: 300px;
			}

			.wp-travel-setting-right .wp-travel-option-container {
				display: flex;
				justify-content: flex-end;
			}

			.wp-travel-option-container input {
				&::placeholder {
					color: $wp-travel-active;
				}
			}

			.wp-travel-setting-right p {
				text-align: right;
				font-size: 0.75rem;
				color: $wp-travel-faded;
				margin: 0;
			}

			.wp-travel-content-setting .wp-travel-setting-name {
				font-size: 0.85rem;
			}

			.all-tab-component {
				display: none;
			}

			.all-tab-component.active {
				display: block;
			}

			.wp-travel-trip-settings {
				.wp-travel-save-changes {
					display: none;
					border: none !important ;
					border-top: 1px solid $wp-travel-background !important;
					border-radius: 0 0 0.5rem 0.5rem;
					height: 0;
					overflow: hidden;
					opacity: 0;
					position: relative;
					bottom: 0.5rem;
					width: 100%;
					box-sizing: border-box;
					box-shadow: 0 1px 3px $wp-travel-shadow;

					.wp-travel-save-notice {
						i {
							margin-right: 0.5rem;
						}

						.wp-travel-text-danger {
							color: $wp-travel-danger;
						}

						.wp-travel-text-success {
							color: $wp-travel-success;
						}
					}
				}

				.wp-travel-save-changes.is-active {
					display: flex;
					opacity: 1;
					background: rgb(250, 250, 250);
					padding: 2rem;
					height: auto;
					position: relative;
					z-index: 0;
					box-sizing: border-box;
				}

				.wp-travel-save-changes.is-active.is-sticky {
					background: $wp-travel-light;
					padding: 2rem;
					margin: 0;
					display: flex;
					position: fixed;
					border-radius: 0;
					bottom: 0;
					width: -webkit-fill-available;
					width: -moz-available;
					z-index: 100;

					.wp-travel-settings-section {
						border-radius: 0;
					}
				}
			}

			.wp-travel-section-content {
				.components-panel__row {
					label {
						margin-bottom: 1rem;
						font-weight: 500;
						flex-grow: 0;
					}
					.wp-travel-section-header-label {
						align-items: flex-start;
					}
				}
			}

			#wp-travel-network-settings-block {
				margin-left: 1rem;
				.wp-travel-block-tabs-wrapper {
					.wp-travel-block-tabs {
						.components-tab-panel__tabs {
							button {
								&.active-tab {
									box-shadow: inset -3px 0px $wp-travel-green;
									&:hover {
										color: $wp-travel-green;
									}
								}
							}
						}
						.components-tab-panel__tab-content {
							padding: 2rem;
						}
					}
				}
			}

			#wp-travel-settings-block, #wp-travel-network-settings-block {
				position: relative;

				.wp-travel-spinner-overlay {
					display: flex;
					align-items: center;
					justify-content: center;
					position: fixed;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background-color: $wp-travel-backdrop;
					-webkit-backdrop-filter: blur(5px);
					backdrop-filter: blur(5px);
					z-index: 99999;
					transition: all 0.25s ease-in-out;

					.components-spinner {
						transform: scale(1.5);
						color: $wp-travel-green;
					}
				}
			}

			.wp-travel-nav {
				box-sizing: border-box;
				top: 0;
				width: 100%;
				background-color: $wp-travel-white;
				box-shadow: 0 1px 3px $wp-travel-shadow;
				transition: all 0.25s ease-in-out;
			}

			.wp-travel-nav-sticky {
				position: sticky;
				box-sizing: border-box;
				top: 0;
				width: 100%;
				background-color: $wp-travel-white;
				box-shadow: 0 1px 3px $wp-travel-shadow;
				transition: all 0.25s ease-in-out;
				z-index: 110;
			}

			#wp-travel-mobile-navbar .wp-travel-nav-menu-button {
				background: none;
				border: none;
				border-right: 1px solid $wp-travel-background;
				font-size: 1.5rem;
				color: $wp-travel-faded;
				padding: 1rem;
				cursor: pointer;
			}

			#wp-travel-mobile-navbar .wp-travel-nav-menu-button:focus {
				outline: 2px solid $wp-travel-green;
			}

			.components-panel__row .wp-travel-action-section {
				flex-direction: row;
			}
		}
	}
}

@media screen and (min-width: 576px) {
	.wp-admin.itinerary-booking_page_settings, .wp-admin.toplevel_page_wp_travel_network_settings {
		#wpwrap {
			#wpbody-content {
				#wp-travel-settings-block-wrapper {
					#aside-wrap-container {
						#aside-wrap {
							padding: 2rem;
						}
					}
				}

				#wp-travel-tooltip {
					min-width: 350px;
				}

				.wp-travel-settings-container {
					.wp-travel-settings-section-wrapper {
						padding: 1rem;
					}
				}

				.wp-travel-trip-settings {
					.wp-travel-save-changes.is-active.is-sticky {
						margin: 0;
						margin-right: 1rem;
					}
				}

				#wp-travel-save-changes-container {
					.wp-travel-setting-system-info {
						margin-left: 0;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 601px) {
	.wp-travel-nav-sticky {
		top: 46px;
	}
}

@media screen and (min-width: 640px) {
	.wp-admin.itinerary-booking_page_settings, .wp-admin.toplevel_page_wp_travel_network_settings {
		#wpwrap {
			#wpbody-content {
				#wp-travel-settings-block-wrapper {
					#aside-wrap-container {
						#aside-wrap {
							padding: 2rem;

							.aside-wrap-buttons-container {
								.wp-travel-aside-block-button {
									max-width: 200px;
								}
							}

							.wp-travel-aside-help-block {
								display: flex;
							}
						}
					}
				}

				.wp-travel-settings-container {
					.components-base-control__field .components-flex {
						display: flex;
						justify-content: flex-end;
					}

					.wp-travel-settings-section-wrapper {
						padding: 2rem;
					}

					#wp-travel-invoice-logo {
						.media-preview {
							float: right;
						}
					}
				}

				.wp-travel-trip-settings {
					.wp-travel-save-changes.is-active.is-sticky {
						margin: 0;
						margin-right: 2rem;
					}
				}

				.wp-travel-settings-section {
					.wp-travel-section-content {
						.wp-travel-field-image-container {
							display: flex;
							justify-content: flex-end;
							width: 100%;
						}
						.components-panel__row {
							flex-direction: row;
							align-items: center;

							.wp-travel-section-header-label {
								align-items: flex-end;
							}

							.wp-travel-field-value {
								width: 250px;

								.components-button.is-secondary {
									display: flex;
									margin: auto !important;
									margin-right: 0 !important;
								}

								.media-preview {
									display: flex;
									align-items: flex-end;
								}

								.components-base-control
									.components-toggle-control {
									.components-base-control__field
										.components-flex {
										justify-content: flex-end;
									}
								}

								.description {
									#wp-travel-tooltip {
										max-width: 450px;
									}
								}
							}

							.wp-travel-field-value .description {
								text-align: right;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.wp-admin.itinerary-booking_page_settings, .wp-admin.toplevel_page_wp_travel_network_settings {
		#wpwrap {
			#wpbody-content {
				padding-right: 1rem;

				#wp-travel-settings-block-wrapper {
					#aside-wrap-container {
						#aside-wrap {
							padding: 2rem;
							max-width: 700px;
						}
					}
				}

				.wp-travel-trip-settings {
					.wp-travel-save-changes.is-active.is-sticky {
						margin-right: 1rem;
					}
				}
				#wp-travel-settings-block-wrapper {
					#wp-travel-settings-block {
						.wp-travel-nav {
							display: none;
						}

						.wp-travel-block-tabs-wrapper.wp-travel-trip-settings {
							margin-top: 10px;
						}
					}
				}
				.wp-travel-settings-container {
					.wp-travel-settings-section-wrapper {
						padding: 0;
					}

					#wp-travel-invoice-logo {
						.media-preview {
							float: left;
							align-items: flex-start;
						}
					}
				}

				.wp-travel-field-value {
					.components-base-control__field {
						.components-flex {
							display: flex;
							justify-content: flex-start;
						}
					}
				}

				.wp-travel-settings-section {
					.wp-travel-section-content {
						.wp-travel-field-image-container {
							justify-content: flex-start;
						}
						.components-panel__row {
							flex-direction: column;
							align-items: flex-start;

							.wp-travel-section-header-label {
								align-items: flex-start;
							}

							.wp-travel-field-value {
								width: 100%;

								.components-button.is-secondary {
									display: flex;
									margin: auto !important;
									margin-left: 0 !important;
								}

								.media-preview {
									display: flex;
									justify-content: flex-start;
								}

								.components-base-control {
									.components-base-control__field
										.components-flex {
										display: flex;
										justify-content: flex-start;
									}
									.components-toggle-control {
										.components-base-control__field
											.components-flex {
											justify-content: flex-start;
										}
									}
								}

								.description {
									text-align: left;
								}
							}
						}
					}
				}

				#wp-travel-settings-menu {
					display: flex;
					position: relative;
					padding: 1rem;
					padding-top: 0;
					box-shadow: unset;
				}

				.wp-travel-settings-block {
					.wp-travel-nav {
						display: none;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.wp-admin.itinerary-booking_page_settings, .wp-admin.toplevel_page_wp_travel_network_settings {
		#wpwrap {
			#wpbody-content {
				.wp-travel-field-value {
					.components-base-control.components-toggle-control {
						.components-base-control__field {
							.components-flex {
								display: flex;
								justify-content: flex-end;
							}
						}
					}
				}

				#wp-travel-tooltip {
					min-width: 420px;
				}

				.wp-travel-settings-section {
					.wp-travel-section-content {
						.wp-travel-field-image-container {
							justify-content: flex-end;
						}

						#wp-travel-invoice-logo {
							.media-preview {
								float: right;
								align-items: flex-end;
							}
						}

						.components-panel__row {
							flex-direction: row;
							align-items: center;

							.wp-travel-section-header-label {
								align-items: flex-end;
							}

							.wp-travel-field-value {
								width: 250px;

								.components-button.is-secondary {
									display: flex;
									margin: auto !important;
									margin-right: 0 !important;
								}

								.components-base-control.components-toggle-control {
									.components-base-control__field {
										.components-flex {
											justify-content: flex-end;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1366px) {
	.wp-admin.itinerary-booking_page_settings, .wp-admin.toplevel_page_wp_travel_network_settings {
		#wpwrap {
			#wpbody-content {
				#wp-travel-search-modal-wrapper {
					.wp-travel-search-modal-menu {
						min-width: 500px;
					}
				}

				#wp-travel-settings-block-wrapper {
					gap: 0;

					#aside-wrap-container {
						#aside-wrap {
							display: block;
							max-width: 325px;
							padding-top: 0.6rem;

							.aside-wrap-buttons-container {
								flex-direction: column;
								gap: 0;

								.wp-travel-aside-block-button {
									max-width: unset;
								}
							}

							.wp-travel-aside-help-block {
								flex-direction: column;
							}
						}
					}
				}

				#wp-travel-settings-menu {
					width: 350px;
					padding: 2rem;
					padding-top: 0;
				}

				.wp-travel-trip-settings {
					.wp-travel-save-changes.is-active.is-sticky {
						margin-right: 341px;
						min-width: 594px;
					}
				}

				#wp-travel-settings-block-wrapper {
					flex-direction: row;
				}
			}
		}
	}
}

@media (min-width: 1582px) {
	.wp-admin.itinerary-booking_page_settings, .wp-admin.toplevel_page_wp_travel_network_settings {
		#wpwrap {
			#wpbody-content {
				.wptravel-ui-content.wptravel-modules {
					.wptravel-modules-list {
						grid-template-columns: repeat(
							auto-fit,
							minmax(300px, 1fr)
						);
					}
				}
			}
		}
	}
}

@media (min-width: 1832px) {
	.wp-admin.itinerary-booking_page_settings, .wp-admin.toplevel_page_wp_travel_network_settings {
		#wpwrap {
			#wpbody-content {
				.wptravel-ui-content.wptravel-modules {
					.wptravel-modules-list {
						grid-template-columns: repeat(
							auto-fit,
							minmax(300px, 1fr)
						);
					}
				}

				#wp-travel-settings-block-wrapper {
					#aside-wrap-container {
						#aside-wrap {
							max-width: 350px;
						}
					}
				}

				.wp-travel-trip-settings {
					.wp-travel-save-changes.is-active.is-sticky {
						margin-right: 366px;
					}
				}
			}
		}
	}
}
.wp-travel-wpml-migrations-spinner {
	display: flex;
	align-items: center;
	margin-top: 20px;
	img {
		max-height: 40px;
	}
	.wp-travel-wpml-migrate-button.disables {
		background-color: rgb(162 223 167) !important;
	}
}

#wptravel-pro-interface {
	margin: 20px 0 0 0;
	border-radius: 10px;
	border: 1px solid #DDD;
	background: url('../../../../../assets/images/wp-travel-banner-background.png');
	background-position: 75%;
	overflow: hidden;

	.wptravel-pro-interace-container {
		padding: 25px;
		backdrop-filter: blur(2px);

		.wptravel-pro-head-title {
			display: inline-block;
			font-size: 22px;
			color: rgb(7, 152, 18);
			font-weight: 500;
			margin: 0 0 10px 0;
		}
		
		.wptravel-pro-body-legend {
			text-transform: uppercase;
			font-size: 12px;
			font-weight: 500;
			color: orange;
			display: flex;
			align-items: center;
			gap: 5px;

			span {
				min-width: 150px;
			}
		}
		
		ul {
			display: flex;
			flex-wrap: wrap;
			list-style-type: none;
			gap: 5px;
			margin: 20px 0;
			justify-content: space-between;

			li {
				display: flex;
				min-width: 340px;

				i {
					margin-right: 10px;
					color: rgb(47, 153, 47);
					line-height: 1.3rem;
				}
			}
		}
		
		.wptravel-pro-upsell-body {
			/* display: flex; */
			gap: 20px;
		}
		
		.wptravel-pro-pricing-box {
			border-radius: 10px;
			background-color: rgb(7, 152, 18);
			color: white;
			padding: 20px;
			width: 100%;
		}
		
		.wptravel-pro-starting-label {
			font-size: 18px;
			margin: 0;
		}
		
		.wptravel-pro-upsell-content {
			display: flex;
			justify-content: space-between;

			.wptravel-pro-pricing-box-wrap {
				display: flex;
				align-items: flex-end;
				justify-content: center;

				.wptravel-pro-pricing-box {
					min-width: 250px;
					text-align: center;
					max-width: 275px;

					.wptravel-pro-price {
						font-size: 42px;
						margin: 0 0 20px 0;

						.currency {
							opacity: 0.7;
							font-size: 26px;
							margin: -20px 5px 0 0;
							vertical-align: text-top;
							line-height: 1.8;
						}

						abbr {
							font-size: 26px;
							opacity: 0.7;
							margin-left: 10px;
						}

						.number {
							font-size: 42px;
						}
					}

					.wptravel-pro-btn-goto-pricing {
						padding: 10px;
						width: 100%;
						border: none;
						border-radius: 5px;
						font-size: 16px;
						background-color: white;
						font-weight: 500;
						color: rgb(7, 152, 18);
						cursor: pointer;

						&:hover {
							i {
								opacity: 1;
								margin-left: 10px;
							}
						}

						i {
							opacity: 0;
							margin-left: -15px;
							transition: 0.25s ease-in-out all;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 2534px) {
    #wptravel-pro-interface .wptravel-pro-interace-container ul {
        justify-content: unset;
    }
}

@media (max-width: 1680px) {
    #wptravel-pro-interface {
		.wptravel-pro-interace-container {
			ul {
				li {
					width: unset;
					min-width: 250px;
				}
			}
		}
	}
}

@media (max-width: 1530px) {
    #wptravel-pro-interface {
		.wptravel-pro-interace-container {
			.wptravel-pro-upsell-content {
				.wptravel-pro-pricing-box-wrap {
					.wptravel-pro-pricing-box {
						min-width: 185px;
						margin-top: 20px;
						margin-left: 20px;
					}
				}
			}

			ul {
				display: block;

				li {
					width: unset;
					min-width: 180px;
				}
			}
		}
	}
}

@media (max-width: 1365px) {
	#wptravel-pro-interface {
		.wptravel-pro-interace-container {
			.wptravel-pro-upsell-content {
				.wptravel-pro-pricing-box-wrap {
					.wptravel-pro-pricing-box {
						min-width: 240px;
						margin-left: 20px;
					}
				}
			}

			ul {
				display: block;

				li {
					width: unset;
					min-width: 200px;
				}
			}
		}
	}
}

@media (max-width: 1100px) {
    #wptravel-pro-interface .wptravel-pro-interace-container .wptravel-pro-upsell-content {
        flex-direction: column;

		.wptravel-pro-pricing-box-wrap .wptravel-pro-pricing-box {
			margin-top: 0px;
		}
    }
}