@import "../../sass/block-tabs";
.settings-general{
    .components-panel__body.ws-gateway  {
        .components-panel__body-title{
            .components-panel__body-toggle{
                padding-left: 70px !important;
            }
            button:after{
                font-family: dashicons;
                content: "\f12a";
                font-size: 20px;
                position: absolute;
                left: 40px;
            }
        }
        &.gateway-enabled{
            .components-panel__body-title{
                button:after{
                    color:green;
                }
            }
        }
    }
}
.license-details__item {
    margin-bottom: 20px;
    padding: 20px;
    background: #fcfcfc;
    border-bottom: 1px solid #e6e6e6;
}
.wp-travel-block-payment {
    
}

#wp-travel-settings-block-wrapper {
    .wp-travel-block-tabs-wrapper.wp-travel-trip-settings {
        span.components-spinner {
            margin-top: 13px;
        }
    }
}
