form#setup-page-form {
	// payment section layout
	.wp-travel-field-value {
		// remove unwanted flex property
		width: 100%;
		.components-flex {
			display: block;
			float: right;
			// float label to the right corner
			.components-form-toggle {
				float: right;
			}
		}
		.components-base-control {
			width: 100%;
		}
	}
}
