form#setup-page-form {
	// add borders to the payment components
	// .wp-travel-block-section.wp-travel-block-sortable {
	// 	.components-panel__body {
	// 		border: 1px solid #e0e0e0;
	// 	}
	// }

	// payment section layout
	.wp-travel-field-value {
		// remove unwanted flex property
		width: 100%;
		.components-flex {
			display: block;
			float: right;
			// float label to the right corner
			.components-form-toggle {
				float: right;
			}
		}
		.components-base-control {
			width: 100%;
		}
	}
}
