// Filter by Toolbar
.wp-travel-toolbar {
	border: 1px solid #eee;
	background: #fefefe;
	border-radius: 3px;
	display: flex;
	padding: 0 15px;
	justify-content: space-between;
	position: relative; //(toolbar issue fix) Position missing before
	// Vertically center the filter section in itineray page
	align-items: baseline;
	margin-bottom: 2em;
	@include clearfix;
	&::after,
	&::before {
		content: unset;
	}

	&.clearfix {
		&::before,
		&::after {
			content: none;
		}
	}

	@include sidr-view {
		position: relative;
	}

	.wp-toolbar-content {
		&.wp-toolbar-left {
			@include sidr-view {
				float: none;
			}
		}
	}

	.wp-travel-post-filter {
		--gap: 0rem 1rem; //(--------------------------gap hataune)
		display: flex;
		gap: var(--gap);
		align-items: center;
		flex-wrap: wrap;
		justify-content: flex; //(Space between before)
		padding: 10px 0px; //(toolbar issue fix) 10px 25px before
		.wp-travel-filter-by-heading {
			@include sidr-view {
				float: none;
			}

			h4 {
				margin: 0;
				font-size: 14px;
				@media (max-width: 767px) {
					//(toolbar issue fix)
					display: none;
				}
			}
			.btn.btn-wptravel-filter-by {
				display: none !important;

				.fa-chevron-down {
					//(toolbar issue fix)
					content: "\f078";
					margin-left: 16px;
					transition: 0.2s ease-in;
				}
				&.active {
					.fa-chevron-down {
						transition: 0.2s ease-in;
						transform: rotate(180deg);
					}
				}
				@media (max-width: 767px) {
					//(toolbar issue fix)
					display: block !important;
				}
			}
			.btn.btn-wptravel-filter-by-shortcodes-itinerary {
				display: none !important;

				.fa-chevron-down {
					//(toolbar issue fix)
					content: "\f078";
					margin-left: 16px;
					transition: 0.2s ease-in;
				}
				&.active {
					.fa-chevron-down {
						transition: 0.2s ease-in;
						transform: rotate(180deg);
					}
				}
				@media (max-width: 767px) {
					//(toolbar issue fix)
					display: block !important;
				}
			}

			@media (max-width: 1020px) {
				//(toolbar issue fix)
				width: 100%;
				padding: 0 0px;
			}
		}
		&.clearfix::before {
			display: none; // (-------------------------------------------none rakhne)
			content: none;
		}
		@media (max-width: 1199px) {
			gap: 1rem;
		}
		@media (max-width: 767px) {
			gap: 0;
		}
	}

	.wp_travel_input_filters {
		width: 145px;


		@include extra-large-screen {
			width: 140px;
		}

		@include sidr-view {
			//(toolbar issue fix) width 125px before
			width: 100%;
		}

		@include mob {
			display: block;
		}

		@include sm {
			width: 100%;
		}
		@media (max-width: 767px) {
			width: 100% !important;
		}
	}


	@media (max-width: 1020px) {
		align-items: unset; //(------------------------------------------------just yo rakhne)
	}
}

.wrapper {
	.wp-travel-toolbar {
		.wp-toolbar-filter-field {
			@media (max-width: 992px) {
				//-------------------------------------for theme fix)
				width: unset;
			}
		}
	}
}

.content-area {
	.wp-travel-toolbar {
		.wp-travel-post-filter {
			.wp-travel-filter-by-heading {
				h4 {
					@media (max-width: 767px) {
						//---------------------------------------------for theme fix)
						display: none;
					}
				}
			}
		}
	}
}
.wp-travel-archive-itinerary-wrapper {
	.wp-travel-toolbar {
		.wp-toolbar-right {
			@media (max-width: 1200px) {
				//(---------------------------------Travel Joy------------------------)
				position: unset;
			}
		}
	}
}

.wp-toolbar-filter-field {

	@media (max-width: 767px) {
		//(toolbar issue fix)
		display: none !important;
	}

	@include mob {
		padding: 10px;
	}

	@include sm {
		float: none;
		display: block;
	}
}
.wp-toolbar-filter-field.show-in-mobile {
	@media (max-width: 767px) {
		//(toolbar issue fix)
		display: block !important;
		width: 100%;
	}
}
.wp-travel-filter-button {

	&.show-in-mobile {
		display: block;
	}
	.btn-wp-travel-filter {
		padding: 9px 17px;
		cursor: pointer;
	}

	@include mob {
		padding: 0;
		margin: 10px;
	}

	@include sm {
		margin-top: 0px;
		text-align: right;
	}
	@media (max-width: 767px) {
		//(toolbar issue fix)
		display: none;
	}
}

.wp-travel-view-mode-lists {
	list-style: none;
	margin: 0;
	text-align: center;

	// itinerary page filter section button padding top fix
	padding: 0px;
	display: flex;
	@media (max-width: 1399px) {
		padding: 15px 15px;
	}

	@media (max-width: 991px) {
		padding: 15px;
	}
	@media (max-width: 767px) {
		display: none;
	}

	li {
		display: inline-block;
		line-height: 1.65;
		margin-left: 3px;

		&.active-mode a {
			opacity: 1;
		}
	}

	i {
		padding: 0px 0; // (-------------------------------------------padding hataune--------------)
		font-size: 24px;
		cursor: pointer;
		width: 23px;
		height: 23px;
	}
	
}

.wp-toolbar-filter-field {
	p {
		text-transform: capitalize;
	}
}
