@import "../../sass/animation/animation";
@import "../../sass/abstracts/mixins/mixin";
@import "../../sass/abstracts/variables/variables";

@import "../../sass/generic/box-sizing";

@import "../../sass/elements/features";
@import "../../sass/elements/accordin";
@import "../../sass/elements/gallery";
@import "../../sass/elements/globalcss";

//@import "../../sass/typography/wt-icon";
//@import "../../../../assets/typography/wt-icon";
// Misc
@import "./itinerary-global";
@import "./wp-travel-front-end";


// Frontend
@import "./0-itinerary-headline";
@import "./1-itinerary-tabs";
@import "./2-date-listing";
@import "./3-loader";
// @import "./v2/4-checkout";
@import "./4-checkout";
@import "./5-toolbar";
@import "./6-itinerary-list";
@import "./7-wp-travel-sidebar";
@import "./8-wp-travel-widget";
@import "./9-dashboard";
@import "./10-itinerary-pagination";
@import "./11-alertboxes";
@import "./12-paxpicker";
@import "./13-mis";
@import "./14-trip-itinerary";
@import "./15-wptravel-addons";


.btn-disable{
    opacity: 0.5;
    pointer-events: none;
}

.wptravel-recurring-table-wrapper .person-box h4{
    display: none;
}
.single-itineraries.wptravel-layout-v2 .wptravel-recurring-table-wrapper tr{
	color: black;
}
.single-itineraries.wptravel-layout-v2 .wptravel-recurring-table-wrapper tr:nth-child(odd) {
    background-color: #FAF8F8;
}
.single-itineraries.wptravel-layout-v2 .wptravel-recurring-table-wrapper tr:nth-child(even) {
    background-color: #e5e5e68a;
}

.wc-block-components-checkout-return-to-cart-button{
    display: none !important;
}