@import "../../sass/animation/animation";
@import "../../sass/abstracts/mixins/mixin";
@import "../../sass/abstracts/variables/variables";

@import "../../sass/generic/box-sizing";

@import "../../sass/elements/features";
@import "../../sass/elements/accordin";
@import "../../sass/elements/gallery";
@import "../../sass/elements/globalcss";

// Misc
@import "./itinerary-global";
@import "./wp-travel-front-end";


// Frontend
@import "./0-itinerary-headline";
@import "./1-itinerary-tabs";
@import "./2-date-listing";
@import "./3-loader";
@import "./4-checkout";
@import "./5-toolbar";
@import "./6-itinerary-list";
@import "./7-wp-travel-sidebar";
@import "./8-wp-travel-widget";
@import "./9-dashboard";
@import "./10-itinerary-pagination";
@import "./11-alertboxes";
@import "./12-paxpicker";
@import "./13-mis";
@import "./14-trip-itinerary";
@import "./15-wptravel-addons";


.btn-disable{
    opacity: 0.5;
    pointer-events: none;
}

.wptravel-recurring-table-wrapper .person-box h4{
    display: none;
}
.single-itineraries.wptravel-layout-v2 .wptravel-recurring-table-wrapper tr{
	color: black;
}
.single-itineraries.wptravel-layout-v2 .wptravel-recurring-table-wrapper tr:nth-child(odd) {
    background-color: #FAF8F8;
}
.single-itineraries.wptravel-layout-v2 .wptravel-recurring-table-wrapper tr:nth-child(even) {
    background-color: #e5e5e68a;
}

.wc-block-components-checkout-return-to-cart-button{
    display: none !important;
}

#wptravel-block-trip-outline .wp-travel-no-detail-found-msg{
    display: none;
}

.hello-elementor-wptravel-main-content-wrapper{
    max-width: 1140px;
    margin: auto;
    position: relative;
    z-index: 1;
}

.stripe-brand-logo{
    display: none;
}
.stripe-brand-logo + img{
    display: none !important;
}
.block-theme-active {
    .right-plot-inner-wrap .entry-header .entry-title {
        line-height: 50px;
    }
    footer,
    .wptravel-content-wrapper{
        margin-top: -24px;
    }

    .tab-list-content{
        background-color: #fff;
    }

    .view-box{
        .entry-title{
            line-height: 10px;
            a{
                text-decoration: none;
                font-size: 22px !important;
            }
        }
        a{
            text-decoration: none;
        }
    }

    .archive{
        .page-title,
        .taxonomy-description{
            display: none;
        }
        #wp-travel-secondary{
            background-color: #fff;
            padding: 30px;
            // .widget_wp_travel_filter_search_widget .trip-duration-calender .calender-icon{
            //     top: 33.5px;
            //     left: 2px;
            //     line-height: 21.5px;
            // }
        }
        .wp-travel-navigation.wp-paging-navigation {
            padding: 10px 0;
            margin-bottom: 0px;
            text-align: center;
        }
        .wp-travel-toolbar {
            .wp_travel_input_filters {
                width: 145px;
                height: 30px;
            }
            .wp-travel-filter-button .btn-wp-travel-filter {
                padding: 2px 20px;
                cursor: pointer;
            }
        }
    }
}

.stripe-procced-payment-btn{
    text-align: end;
    visibility: hidden;
    margin-top: 20px;
}

.stripe-payment-btn{
    text-align: end;
    visibility: hidden;
    margin-top: 20px;
}

#wptravel-proceed-with-stripe,
#wptravel-pay-with-stripe{
    background: #fff;
    border: solid 1px;
    border-radius: 3px;
    padding: 10px 20px;
}

#wptravel-proceed-with-stripe:focus,
#wptravel-proceed-with-stripe:hover,
#wptravel-pay-with-stripe:focus,
#wptravel-pay-with-stripe:hover{
    background: #000;
    color: #fff;
    cursor: pointer;
}

#loader-init{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

#loader-init h4{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.stripe-loader {
    display: none;
    width: 50px;
    height: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {to{transform: rotate(1turn)}}

  .wp-travel-container-wrap h2{
	font-size: 35px;
}

.travel-info a{
    text-decoration: none;
}

#faq h4 a{
    font-size: 22px;
}


.wptravel-layout-v2 .wptravel-archive-wrapper.grid-view .view-box .view-content{
    justify-content: space-between;
}

#gallery .item{
    height: 200px;
    overflow: hidden;
}


@media screen and (min-width:992px) {

#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item{
    height: 198px;
    width: 19%;
}

#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item img{
    object-fit: cover;
    height: 198px;
}

#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(27),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(26),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(21),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(20),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(19),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(17),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(16),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(15),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(14),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(13),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(12),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(11),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(10),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(5),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(4),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(3),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(1){
    width: 19%;
    height: 198px;
}

#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(2),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(6),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(7),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(8),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(9),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(18),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(22),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(23),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(24),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(25){
    width: 38%;
}

#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(2),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(8),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(24),
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(18){
    height: 396px;
}

#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(2) img,
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(8) img,
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(24) img,
#gallery .wp-travel-advanced-gallery-items-list.wp-travel-advanced-gallery-items-list-masonry .item:nth-child(18) img{
    height: 396px;
}
}

#trip_outline .accordion-toggle{
    text-decoration: none;
}

#trip_outline .panel-title,
#trip_outline .open-all-itinerary-link,
#trip_outline .close-all-itinerary-link{
    text-decoration: none;
    border: 1px solid;
    padding: 10px 20px;
    margin-bottom: 0px;
}

#trip_outline .panel-collapse{
    padding: 0px 20px;
}


.wp-travel-advanced-gallery-items-list .slick-next:before, .wp-travel-advanced-gallery-items-list .slick-prev:before {
    font-size: 20px;
    border: 1px solid;
    padding: 2px;
}

@media screen and (min-width:992px) {
    
    #wp-travel-secondary.widget-area .list-view.itinerary-3-per-row .view-box,
    #secondary.widget-area .list-view.itinerary-3-per-row .view-box,
    .page .right .itinerary-3-per-row .view-box{
    	display: block;
    }
    #wp-travel-secondary.widget-area .list-view.itinerary-3-per-row .view-box .view-image,
    #secondary.widget-area .list-view.itinerary-3-per-row .view-box .view-image,
    #wp-travel-secondary.widget-area .itinerary-3-per-row .view-box .view-content,
    #secondary.widget-area .list-view.itinerary-3-per-row .view-box .view-content,
    #wp-travel-secondary.widget-area .itinerary-3-per-row .view-box .view-content .left-content,
    #secondary.widget-area .itinerary-3-per-row .view-box .view-content .left-content{
    	display: block;
    	width: 100% ;
    }	
    #wp-travel-secondary.widget-area .list-view.itinerary-3-per-row .view-box .view-content .right-content,
    #secondary.widget-area .list-view.itinerary-3-per-row .view-box .view-content .right-content{
    	width: 100%;
        text-align: left;
        border-left: none;
        padding-bottom: 20px;
    }
    .post-type-archive-itineraries .widget.widget_block .grid-view, 
    .page.wptravel-layout-v2 .right .grid-view, 
    .post.wptravel-layout-v2 .right .grid-view,
    .widget-area .itinerary-3-per-row{
        grid-template-columns: repeat(1, 1fr) !important;
    }
    #wp-travel-secondary.widget-area .trip-rating .wp-travel-average-review,
    #secondary.widget-area .trip-rating .wp-travel-average-review,
    .page .right .wp-travel-itinerary-list .description-left .wp-travel-average-review,
    .page .right .itinerary-3-per-row .view-box .wp-travel-average-review{
    	margin-left: 0px;
    }

    .page .right .wp-travel-itinerary-list .wp-travel-article-image-wrap,
    .page .right .wp-travel-itinerary-list .wp-travel-entry-content-wrapper,
    .page .right .wp-travel-itinerary-list .wp-travel-entry-content-wrapper .description-left,
    .page .right .wp-travel-itinerary-list .wp-travel-entry-content-wrapper .description-right,
    .page .right .itinerary-3-per-row .view-box .view-image,
    .page .right .itinerary-3-per-row .view-box .view-content,
    .page .right .itinerary-3-per-row .view-box .view-content .left-content{
    	width: 100%;
    	display: block;
    }

    .page .right .itinerary-3-per-row .view-box .view-content .right-content {
    	width: 100%;
        text-align: left;
        border-left: none;
        padding-bottom: 20px;
    }

    /*padding issue*/
    #wp-travel-secondary.widget-area .itinerary-3-per-row .view-box,
    #secondary.widget-area .itinerary-3-per-row .view-box,
    .page .right .itinerary-3-per-row .view-box {
    	padding: 0px;
    }
} 

.itenary .panel-title{
    display: flex;
    justify-content: space-between;
}

.itenary .collapsed .panel-title span.collapse-icon:after{
  
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 15px;
    top: 2px;
}

.itenary .panel-title span.collapse-icon:after{
  
    content: "\f077";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 15px;
    top: 2px;
}

.itenary .panel-collapse{
    border: 1px solid;
}

.wp-travel-itinerary-items .page-numbers {
    margin: 0px 10px;
    text-decoration: none;
}

.wp-travel-itinerary-items .page-numbers.current {
    font-weight: bold;
}

.btndisable {
    opacity: 0.5;
    pointer-events: none;
}

.wp-travel-quick-view-modal .wp-travel-tab-wrapper .tab-list.resp-tabs-list li,
.wp-travel-quick-view-modal .resp-tab-item,
.wp-travel-quick-view-modal .wp-travel-related-posts,
.wp-travel-quick-view-modal .wp-travel-map,
.wp-travel-quick-view-modal .booking-form,
.booking-loader{
    display: none;
}

.wp-travel-quick-view-modal .wp-travel-tab-wrapper .tab-list.resp-tabs-list li.gallery,
.wp-travel-quick-view-modal .wp-travel-tab-wrapper .tab-list.resp-tabs-list li.overview,
.wp-travel-quick-view-modal .wp-travel-tab-wrapper .tab-list.resp-tabs-list li.trip_excludes,
.wp-travel-quick-view-modal .wp-travel-tab-wrapper .tab-list.resp-tabs-list li.trip_includes,
.wp-travel-quick-view-modal .wp-travel-tab-wrapper .tab-list.resp-tabs-list li.trip_outline{
    display: inline-block;
}
.wp-travel-quick-view{
    margin-bottom: 10px;
}

.open-quick-view-modal{
    font-size: 12px;
}

.wp-travel-quick-view-modal .close-modal:hover,
.open-quick-view-modal:hover{
    cursor: pointer;
}

.open-quick-view-modal i{
    margin-right: 5px;
}

.wp-travel-quick-view-modal{
    display: none;
    position: fixed;
    width: 90%;
    top: 50%; 
    left: 50%;
    z-index: 3;
    text-align: left;
    background-color: #fff;
    padding: 20px;
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; 
    z-index: 1;
}

.wp-travel-quick-view-modal .close-modal{
    position: absolute;
    right: 20px;
    z-index: 1;
    background: #fff;
    padding: 5px;
}

.wp-travel-quick-view-modal .featured-detail-section li{
    width: 48%;
    border: none;
}

.single-itineraries .wp-travel-quick-view-modal .featured-detail-section .entry-header {
    padding-left: 0px;
}

.wp-travel-quick-view-modal .wp-travel-tab-wrapper li{
    width: auto;
}

.wp-travel-quick-view-modal .wp-travel.trip-headline-wrapper .featured-side-image.left-plot .banner-image-wrapper img {
    display: block;
}

.wp-travel-quick-view-modal .wp-travel-trip-meta-info ul li:nth-child(4) a{
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: #000;
}

.wp-travel-quick-view-modal .wp-travel-tab-wrapper .wp-travel button.slick-arrow{
    display: none !important;
}