@import './node_modules/react-datepicker/src/stylesheets/datepicker.scss';

// .react-datepicker__day--range-start {
// 	background: red;
// }
// .react-datepicker__day--range-end {
// 	background: red;
// }

$defaultColor: #3399ff;

@keyframes arrowAnimate{
    0%{
        transform: translateX(0);
    }
    60%{
        transform: translateX(-5px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes loader{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#booking{
    // margin: 1em;
    // border: 1px solid #dbdbdb;
    background-color: #fff;
    padding: 0 1em;
    .tooltip{
        position: relative;
        span{
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            padding: 5px;
            background-color: rgba(#000, .9);
            color: #fff;
            border-radius: 4px;
            font-size: 10px;
            white-space: nowrap;
            margin-bottom: 5px;
            display: none;
            &::before{
                content: "";
                border-top: 5px solid rgba(#000, .9);
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .wp-travel-booking__notice{
        border-radius: 4px;
        background-color: #fff;
        padding: 1em 1em 1em 2.75em;
        box-shadow: 0 20px 30px rgba(#000, .1);
        display: flex;
        align-items: center;
        position: relative;
        svg{
            width: 20px;
            height: 20px;
            position: absolute;
            left: 1em;
            top: .95em;
        }
        p{
            margin: 0;
            font-size: 14px;
            line-height: 20px;
        }
        &.is-info{
            color: #007bff;
            border: 1px solid #007bff;
            svg{
                path{
                    fill: #007bff;
                }
            }
        }
    }
    #loader{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba(#fff, .5);
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            display: inline-block;
            width: 50px;
            height: 50px;
            border: 10px solid $defaultColor;
            border-bottom: 10px solid transparent;
            border-top: 10px solid transparent;
            border-radius: 50%;
            animation: loader 1s linear infinite;
        }
    }
    button{
        padding: .75em 1em;
        border: 0;
        // background-color: $defaultColor;
        // color: #fff;
        outline: none;
        cursor: pointer;
        font-size: 14px;
        display: inline-block;
        border-radius: 3px;
        white-space: nowrap;
        &:hover{
            // background-color: rgba($defaultColor, .7);
            // text-decoration: none;
            opacity: .7;
        }
        &:disabled{
            opacity: .5;
            pointer-events: none;
        }
    }
    .wp-travel-booking__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 0;
        border-bottom: 1px solid #eee;
        h3{
            font-size: 16px;
            color: #222;
            flex: 1;
            margin: 0;
        }
        button{
            border: 1px solid rgb(233, 41, 41);
            background-color: rgba(233, 41, 41, .3);
            color: rgb(233, 41, 41);
            display: inline-flex;
            align-items: center;
            svg{
                width: 15px;
                height: 15px;
                margin-right: 5px;
                path{
                    fill: rgb(233, 41, 41);
                }
            }
        }
    }
    .react-datepicker__day.react-datepicker__day--keyboard-selected {
        &:not(.react-datepicker__day--today){
            background: transparent !important;
            color: #000 !important;
        }
        &.react-datepicker__day--disabled{
            color: #ccc !important;
        }

    }
    .wp-travel-booking__datepicker-wrapper{
        margin-top: 2em;
        padding-bottom: 2em;
        display: flex;
        align-items: center;
        position: relative;
        @media(max-width: 575px){
            flex-direction: column;
            align-items: flex-start;
        }
        .react-datepicker-wrapper{
            margin-right: 1em;
            @media(max-width: 575px){
                flex: unset;
            }
            .react-datepicker__input-container{
                .wp-travel-date-picker-btn{
                    display: inline-flex;
                    align-items: center;
                    padding: 0 0 0 1em;
                    // background-color: $defaultColor;
                    overflow: hidden;
                    // color: #fff;
                    font-weight: bold;
                    white-space: nowrap;
                    span{
                        display: inline-block;
                        margin-left: 1em;
                        padding: .75em 1em;
                        background-color: rgba(#000, .3);
                        svg{
                            width: 15px;
                            height: 15px;
                            path{
                                fill: #fff;
                            }
                        }
                    }
                }
            }
        }
        .react-datepicker__tab-loop{
            .react-datepicker-popper{
                &[data-placement^="top"]{
                    .react-datepicker{
                        .react-datepicker__triangle{
                            &::before{
                                border-top-color: #636363;
                            }
                        }
                    }
                }
                .react-datepicker{
                    border-color: #636363;
                    .react-datepicker__triangle{
                        border-bottom-color: #636363;
                    }
                    .react-datepicker__navigation{
                        padding: 0 !important;
                        width: 20px;
                        height: 20px;
                        text-indent: 0;
                        background: none;
                        top: 16px;
                        color: #fff;
                        &::before{
                            // font: normal 20px/1 'dashicons';
                            font: normal 20px/1 'Font Awesome 5 Free';
                            font-weight: 900;
                            display: block;
                        }
                    }
                    .react-datepicker__navigation--next{
                        &::before{
                            // content: "\f345";
                            content: "\f054";
                        }
                    }
                    .react-datepicker__navigation--previous{
                        &::before{
                            // content: "\f341";
                            content: "\f053";
                        }
                    }
                    .react-datepicker__month-container{
                        .react-datepicker__header{
                            background-color: #636363;
                            padding: 8px 10px;
                            .react-datepicker__current-month{
                                color: #fff;
                                margin: .5em 0em 1em;
                                font-size: 12px;
                            }
                            .react-datepicker__header__dropdown{
                                [class*="react-datepicker"]{
                                    select{
                                        border: 1px solid #fff;
                                        background: none !important;
                                        border-radius: 4px;
                                        color: #fff;
                                        font-size: 14px;
                                        padding: .5em 1em;
                                        option{
                                            color: #5b5b5b;
                                        }
                                    }
                                }
                            }
                            .react-datepicker__day-names{
                                display: flex;
                                justify-content: space-between;
                                padding-top: 8px;
                                .react-datepicker__day-name{
                                    color: #fff;
                                    opacity: .8;
                                    font-size: 12px;
                                    width: 25px;
                                }
                            }
                        }
                        .react-datepicker__month{
                            padding: 8px 10px;
                            margin: 0;
                            .react-datepicker__week{
                                display: flex;
                                justify-content: space-between;
                                margin: 5px 0;
                                >div{
                                    border-radius: 50%;
                                    font-size: 12px;
                                    width: 25px;
                                    height: 25px;
                                    line-height: 25px;
                                }
                                .react-datepicker__day--keyboard-selected{
                                    background-color: #636363;
                                }
                            }
                        }
                    }
                }
            }
        }
        p{
            font-size: 14px;
            color: $defaultColor;
            display: inline-block;
            margin: 0;
            padding: .5em;
            border: 1px solid $defaultColor;
            background-color: rgba($defaultColor, .2);
            border-radius: 4px;
            position: relative;
            @media(min-width: 576px){
                animation: arrowAnimate 1s ease infinite;
            }
            @media(max-width: 575px){
                margin-top: 15px;
                width: 100%;
            }
            &::before, &::after{
                content: "";
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-right: 8px solid #d3e9ff;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(-100%, -50%);
                @media(max-width: 575px){
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-bottom: 8px solid #d3e9ff;
                    left: 1em;
                    top: 0;
                    transform: translateY(-100%);
                }
            }
            &::before{
                border-right: 8px solid $defaultColor;
                left: -1px;
                @media(max-width: 575px){
                    top: -1px;
                    left: 1em;
                    border-right: 8px solid transparent;
                    border-bottom: 8px solid $defaultColor;
                }
            }
        }
    }

    .wp-travel-booking__pricing-wrapper{
        background-color: #f4f4f8;
        border: 1px solid #eee;
        border-radius: 4px;
        padding: 1em 1.5em;
        position: relative;
        @media(max-width: 575px){
            padding: 0 1.5em;
        }
        .wp-travel-booking__pricing-name{
            margin-bottom: 2em;
            h4{
                margin-bottom: 1em;
                color: #444;
                font-size: 14px;
                font-weight: 500;
            }
            button{
                border: 1px solid #999;
                background-color: #fff;
                color: #444;
                display: block;
                text-align: left;
                width: 100%;
                margin-bottom: 1em;
                font-weight: bold;
                &.active{
                    border-color: $defaultColor;
                    color: $defaultColor;
                    background-color: rgba($defaultColor, .2);
                }
            }
        }
    
        .wp-travel-booking__selected-time{
            margin-bottom: 2em;
            h4{
                font-weight: 500;
                font-size: 14px;
                margin-bottom: 1em;
            }
            button{
                font-size: 14px;
                font-weight: bold;
                border: 1px solid #444;
                background-color: rgba(#444, .2);
                color: #444;
                margin-right: .5em;
                cursor: pointer;
                &:disabled{
                    opacity: 1 !important;
                    background-color: #444;
                    color: #fff;
                }
            }
        }

        .wp-travel-booking__trip-option-list{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                padding: .5em 1em;
                background-color: #fff;
                margin-bottom: 1em;
                font-size: 15px;
                border-radius: 4px;
                box-shadow: 0 10px 20px rgba(#000, .1);
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                position: relative;
                .discount-table{
                    position: absolute;
                    top: 100%;
                    left: 0;
                    z-index: 1;
                    background-color: #fff;
                    border-radius: 4px;
                    padding: .5em;
                    width: 250px;
                    margin-top: 10px;
                    box-shadow: 0 20px 30px rgba(#000, .1);
                    border: 1px solid #ccc;
                    &::before, &::after{
                        content: "";
                        border-bottom: 10px solid #fff;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        position: absolute;
                        top: 0;
                        left: 10px;
                        transform: translateY(-100%);
                    }
                    &::before{
                        border-bottom-color: #999;
                        top: -.7px;
                    }
                    table{
                        width: 100%;
                        border-collapse: collapse;
                        text-align: center;
                        display: table;
                        margin: 0;
                        thead{
                            tr{
                                &:first-child{
                                    th{
                                        &:last-child{
                                            border-left: 1px solid #eee;
                                        }
                                    }
                                }
                            }
                        }
                        tbody{
                            tr{
                                &:last-child{
                                    td{
                                        border-bottom: 0;
                                    }
                                }
                            }
                        }
                        th, td{
                            //border-top: 1px solid #eee;
                            border-bottom: 1px solid #eee;
                            padding: .25em .5em;
                            font-size: 14px;
                            text-align: center;
                        }
                    }
                }
                > strong{
                    margin-right: 1em;
                }
                .item-price{
                    font-weight: 500;
                    display: inline-block;
                    font-size: 12px;
                    margin-right: 1em;
                    @media(max-width: 575px){
                        margin-right: 0;
                    }
                    del{
                        opacity: .5;
                        margin-right: 1em;
                        @media(max-width: 575px){
                            margin-right: .5em;
                        }
                    }
                    > span{
                        font-weight: bold;
                        font-size: 18px;
                        color: #444;
                    }
                }
                .text-left{
                    flex: 1;
                    margin-right: .5em;
                    p{
                        a{
                            margin-left: .5em;
                        }
                    }
                    >strong{
                        margin-right: 1em;
                    }
                    .group-discount-button{
                        cursor: pointer;
                        font-size: 12px;
                        display: inline-flex;
                        align-items: center;
                        text-decoration: underline;
                        &:hover{
                            color: red;
                            span{
                                display: block;
                            }
                        }
                        svg{
                            width: 15px;
                            height: 15px;
                            margin-right: .25em;
                            path{
                                fill: red;
                            }
                        }
                    }
                }
                .text-right{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    @media(max-width: 575px){
                        flex-direction: column;
                        align-items: flex-end;
                    }
                    .pricing-area{
                        display: flex;
                        align-items: center;
                    }
                    .qty-spinner{
                        position: relative;
                        display: flex;
                        align-items: center;
                        em{
                            position: absolute;
                            width: 120px;
                            font-size: 12px;
                            left: 50%;
                            top: 0;
                            transform: translate(-50%, -100%);
                            text-align: center;
                            border: 1px solid #e92929;
                            background-color: rgba(#e92929, .2);
                            color: #e92929;
                            border-radius: 3px;
                            margin-top: -7px;
                            z-index: 1;
                            @media(max-width: 575px){
                                margin-top: auto;
                                margin-bottom: -7px;
                                top: auto;
                                bottom: 0;
                                transform: translate(-50%, 100%);
                            }
                            &::before, &::after{
                                content: "";
                                border-left: 5px solid transparent;
                                border-right: 5px solid transparent;
                                border-top: 5px solid #ffc8c8;
                                position: absolute;
                                top: 100%;
                                left: 50%;
                                transform: translateX(-50%);
                                @media(max-width: 575px){
                                    top: auto;
                                    bottom: 100%;
                                    border-top: 0;
                                    border-bottom: 5px solid #ffc8c8;
                                }
                            }
                            &::before{
                                border-top-color: #e92929;
                                border-bottom-color: #e92929;
                                margin-top: 1px;
                                @media(max-width: 575px){
                                    margin-bottom: 1px;
                                }
                            }
                        }
                        button{
                            display: inline-flex;
                            width: 30px;
                            height: 30px;
                            line-height: 30px;
                            padding: 0;
                            // border: 1px solid $defaultColor;
                            // background-color: $defaultColor;
                            // color: #fff;
                            justify-content: center;
                            align-items: center;
                            border-radius: 0;
                            margin: 0;
                            &:first-child{
                                border-top-left-radius: 4px;
                                border-bottom-left-radius: 4px;
                            }
                            &:nth-child(3){
                                border-top-right-radius: 4px;
                                border-bottom-right-radius: 4px;
                            }
                        }
                        span{
                            display: inline-block;
                            min-width: 30px;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            border-top: 1px solid rgba(#000, .1);
                            border-bottom: 1px solid rgba(#000, .1);
                            background: none;
                        }
                    }
                    .price{
                        min-width: 80px;
                        text-align: right;
                        font-weight: bold;
                        padding-left: 15px;
                        @media(max-width: 575px){
                            width: unset;
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
        .wp-travel-booking__selector-wrapper{
            margin-bottom: 2em;
            h4{
                font-weight: 500;
                font-size: 14px;
                margin-bottom: 1em;
            }
        }

        .wp-travel-booking__trip-extras-wrapper{
            margin-bottom: 0;
            .wp-travel-booking__trip-option-list{
                li{
                    position: relative;
                    padding-left: 1.5em;
                    .checkbox{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: #fff;
                        border: 1.5px solid $defaultColor;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        padding: .5em;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translate(-50%, -50%);
                        &.checked{
                            background-color: $defaultColor;
                            svg{
                                &.tick{
                                    display: block;
                                }
                            }
                        }
                        svg{
                            width: 20px;
                            height: 20px;
                            display: none;
                            path{
                                fill: #fff;
                            }
                        }
                    }
                }
            }
            p{
                font-size: 12px;
                color: #777;
                margin: 0;
            }
            a{
                display: inline-block;
                text-align: right;
            }
        }
    }

    .wp-travel-booking__panel-bottom{
        padding: 1em 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 575px){
            position: sticky;
            bottom: 0;
            background-color: #fff;
        }
        p{
            color: #666;
            strong{
                font-size: 24px;
                color: #444;
                display: block;
            }
        }
        .wp-travel-book{
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            padding: 1em 1.5em;
            // background-color: $defaultColor;
            // color: #fff;
        }
    }
}

// map
.wp-travel-map{
    iframe{
        border: 0;
    }
}